<html>

  <head>
    <title>CoverTheseLyrics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
    <script   src="https://code.jquery.com/jquery-3.1.0.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <!-- Javascript -->
    <script src="./assets/javascript/unslider.js"></script>
   
    <!-- vote/ipget -->
      <script src="./assets/javascript/vote.js"></script>

    <!-- CSS Style Sheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/unslider.css">
    <link href="https://fonts.googleapis.com/css?family=Hind+Guntur|Lato|Roboto+Condensed" rel="stylesheet">




	</head>
	<body>


  <div class="container">
    <nav class="navbar navbar-default" id="ctl-top-nav">
      <div class="container-fluid">
        
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

          <img class = "logo" alt="Brand" src="./assets/images/logo/lyrics.jpg">


        </div><!-- End of navbar-header  --> 
        
       <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="nav-links" href="/" id="navi">Home</a></li>
            <li><a class="nav-links" href="/lyrics" id="navi2">Lyrics</a></li>
            <li><a class="nav-links" href="/submit-video" id="navi3">Submit Your YouTube Video</a></li>
            <li><a class="nav-links" href="/vote" id="navi4">Vote for Your Favorite</a></li>
            <li><a class="nav-links" href="/prizes" id="navi5">Grand Prizes</a></li>
          </ul>

        </div><!-- /.navbar-collapse -->


      </div><!-- End of container-fluid -->
    </nav><!-- End of navbar-default -->
    </div>

    <div class="row">
    <div class="col-md-12 header-title" >
        <h1 class="headers" id="main-title">CoverTheseLyrics</h1>
        <h2 class="headers" id="subtitle">Sing. Record. Entertain. Shine!</h2>
    </div>
  </div>

		<div id="body-container"> 
			{{{ body }}}
		</div><!-- End of body-container -->


    <footer class="footer">
      <div>
       <ul class="nav navbar-nav">
          <li><a href="/">Contest Rules</a></li>
          <li><a href="/">License Agreement</a></li>
          <li><a href="/">Terms &amp; Conditions</a></li>
          <li><a href="/">Sitemap</a></li>
       </ul>
      </div>
    </footer>

  </body>
</html>