<!DOCTYPE html>
<html lang="en">

<head>
  <title>&#9836;CoverTheseLyrics&#9836;</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- CSS Style Sheets -->


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/responsive2.css">
<!--     <link rel="stylesheet" type="text/css" href="/assets/css/responsive2.css"> -->
  <link rel="stylesheet" href="/assets/css/unslider.css">
  <link href="https://fonts.googleapis.com/css?family=Hind+Guntur|Lato|Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/remodal.css">
  <link rel="stylesheet" href="./assets/css/remodal-default-theme.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
  <link href="/assets/css/lightbox.css" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>

<!-- 
<nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#test" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="logo" alt="Brand" src="/assets/images/logo/CoverTheseLyrics5-01.png">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="test">
        <ul class="nav navbar-nav">
          <li><a class="nav-links" href="/" id="navi">Home</a></li>
          <li><a class="nav-links" href="/lyrics" id="navi2">Lyrics</a></li>
          <li><a class="nav-links" href="/submit-video" id="navi3">Submit Your YouTube Video</a></li>
          <li><a class="nav-links" href="/vote" id="navi4">Vote for Your Favorite</a></li>
          <li><a class="nav-links" href="/prizes" id="navi5">Grand Prizes</a></li>
      </ul>      
    </div>
  </div>
</nav> 
 -->
 <div id="nav-wrapper">

    <nav class="navbar navbar-default" id="ctl-top-nav">
      <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnavbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img class="logo" alt="CoverTheseLyrics Logo" src="/assets/images/logo/CoverTheseLyrics5-01.png">


        </div>
        <!-- End of navbar-header  -->

        <div class="collapse navbar-collapse" id="mainnavbar"> 
          <ul class="nav navbar-nav">
            <li><a class="nav-links" href="/" id="navi">Home</a></li>
            <li><a class="nav-links" href="/lyrics" id="navi2">Lyrics</a></li>
            <li><a class="nav-links" href="/submit-video" id="navi3">Submit Music</a></li>
            <li><a class="nav-links" href="/vote" id="navi4">Vote for Your Favorite</a></li>
            <li><a class="nav-links" href="/prizes" id="navi5">Grand Prizes</a></li>
            <li><a class="nav-links" href="/winners-circle" id="navi7">Winners Circle</a></li>
            <li><a class="nav-links" href="/view-your-favorite" id="navi8">View Your Favorite</a></li>
            <!-- <li><a class="nav-links" href="/contact-us" id="navi9">Contact Us</a></li> -->
          </ul>

        </div> <!-- /.navbar-collapse -->
      </div>
      </nav>  

    <div id="title_wrapper">
      <h1 id="title-words1">CoverTheseLyrics<span class="reg-tm"><sup>&reg;</sup></span></h1>
      <h2 id="title-words2">Sing. Record. Entertain. Shine!</h2>
    </div>
</div>

  <div id="body-container">
    {{{ body }}}
  </div>
  <!-- End of body-container -->

<div class="nav_footer navbar navbar-default" role="navigation">
  <!-- <span class="owner">Owned and operated by Daria Hunter.</span> -->
  <!-- <div class="footer container center"> -->
    <ul class="nav navbar-nav nav-list">
      <li class="legal-list"><a href="../assets/html/rules.html" target="_blank" class="legal-list">Contest Rules</a></li>
      <li class="legal-list"><a href="/../assets/html/license.html" target="_blank" class="legal-list">License Agreement</a></li>
      <li class="legal-list"><a href="/../assets/html/terms.html" target="_blank" class="legal-list">Terms &amp; Conditions</a></li>
      <li class="legal-list"><a href="/../assets/html/site-map.html" target="_blank" class="legal-list">Sitemap</a></li>
    </ul>  
  <!-- </div> -->
</div>

</body>


 <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>

  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Javascript -->

  
  <script src="./assets/javascript/remodal.js"></script>
  <script src="./assets/javascript/submit.js"></script>
  
<!-- vote/ipget -->
  <script src="/assets/javascript/vote.js"></script>
  <script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>


  <!-- countdown clock -->
  <script src="/assets/javascript/countdown.js"></script>

  <!-- lightbox -->
  


<script src="/assets/javascript/lightbox-plus-jquery.js"></script>

</html>