<html>
	<head>
		<title>CoverTheseLyrics</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		

    <!-- slick carousel -->
    <link rel="stylesheet" type="text/css" href="./assets/slick/slick.css"/>
    <!-- / Add the new slick-theme.css if you want the default styling -->
    <link rel="stylesheet" type="text/css" href="./assets/slick/slick-theme.css"/>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="./assets/slick/slick.min.js"></script>
    <script type="text/javascript" src="./assets/javascript/carousel_slick.js"></script>

    <!-- vote/ipget -->
    
    <script type="text/javascript" src="./assets/javascript/vote.js"></script>


    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
	</head>
	<body>

    <nav class="navbar navbar-default" id="ctl-top-nav">
      <div class="container-fluid">
        
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

          <img class = "logo" alt="Brand" src="./assets/images/logo/CoverTheseLyrics5-01.svg">

        </div><!-- End of navbar-header  --> 
        
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav"
          >
            <li><a href="/" class="nav_links" id="navi">Home</a></li>
            <li><a href="/lyrics" class="nav_links" id="navi2">Lyrics</a></li>
            <li><a href="/submit-video" class="nav_links" id="navi3">Submit Your YouTube Video</a></li>
            <li><a href="/vote" class="nav_links" id="navi4">Vote for Your Favorite</a></li>
            <li><a href="/prizes" class="nav_links" id="navi5">Grand Prizes</a></li>
          </ul>

        </div><!-- /.navbar-collapse -->


      </div><!-- End of container-fluid -->
    </nav><!-- End of navbar-default -->

<div class="header_container">
    <h1 class="main_header">
      CoverTheseLyrics
    </h1>
    <h2 class="subheader">
      Sing. Record. Entertain. Shine!
    </h2>
</div>





		<div class= "body-container"> 
			{{{ body }}}
		</div><!-- End of body-container -->

    <footer class="footer">
      <div class="container">
       <ul class="nav navbar-nav" style="margin-left:250px;">
          <li><a href="/">Contest Rules</a></li>
          <li><a href="/">License Agreement</a></li>
          <li><a href="/">Terms &amp; Conditions</a></li>
          <li><a href="/">Sitemap</a></li>
       </ul>
      </div>
    </footer>

	</body>
</html>