<html>

<head>
  <title>&#9836;CoverTheseLyrics&#9836;</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>



  <!-- Javascript -->

  
  <script src="./assets/javascript/remodal.js"></script>
  <script src="/assets/javascript/submit.js"></script>


  <!-- vote/ipget -->
  <script src="/assets/javascript/vote.js"></script>
  <script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>

  <!-- countdown clock -->
  <script src="/assets/javascript/countdown.js"></script>

  <!-- CSS Style Sheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/unslider.css">
  <link href="https://fonts.googleapis.com/css?family=Hind+Guntur|Lato|Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/remodal.css">
  <link rel="stylesheet" href="./assets/css/remodal-default-theme.css">

</head>

<body>

<nav class="nav-header-container" id= "nav-header-container">
  <div class="container " id="header_container">
    <nav class="navbar navbar-default" id="ctl-top-nav">
      <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

          <img class="logo" alt="Brand" src="/assets/images/logo/CoverTheseLyrics5-01.png">


        </div>
        <!-- End of navbar-header  -->

        <!-- <div class="collapse navbar-collapse" id="navbar_container"> -->
          <ul class="nav navbar-nav">
            <li><a class="nav-links" href="/" id="navi">Home</a></li>
            <li><a class="nav-links" href="/lyrics" id="navi2">Lyrics</a></li>
            <li><a class="nav-links" href="/submit-video" id="navi3">Submit Your YouTube Video</a></li>
            <li><a class="nav-links" href="/vote" id="navi4">Vote for Your Favorite</a></li>
            <li><a class="nav-links" href="/prizes" id="navi5">Grand Prizes</a></li>
          </ul>

        </div> <!-- /.navbar-collapse -->

      </nav>  


      </div>
      <!-- End of container-fluid -->
    </div>
    <!-- End of navbar-default -->
  </div>


  <div class="row grey">
    <div class="col-md-12 header-title">
      <div class="headers col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center" id="main-title">
        <h1 id="title-words1">
          CoverTheseLyrics
        </h1>
        </div>

        <div class="headers col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center" id="subtitle">
          <h2 id="title-word2">Sing. Record. Entertain. Shine!</h2>
        </div>

    </div>
  </div>
</nav>

  <div id="body-container">
    {{{ body }}}
  </div>
  <!-- End of body-container -->

  <!-- countdown timer -->
    <div id="del-countdown">
      <h2 class="timer-h2">LOADING....NEW CONTEST!!!</h2>
      <div id="clock"></div>
      <div id="units">
        <span>Days</span>
        <span>Hours</span>
        <span>Minutes</span>
        <span>Seconds</span>
      </div>
    </div>

 


  <footer class="footer">
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/">Contest Rules</a></li>
        <li><a href="/">License Agreement</a></li>
        <li><a href="/">Terms &amp; Conditions</a></li>
        <li><a href="/">Sitemap</a></li>
      </ul>
    </div>
  </footer>

</body>

</html>