<div class="spacing-div">CoverTheseLyrics</div>
<div class="container statement-container">
	<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h2 id="h2-ballad">Our Ballad</h2>		
		<p class="ballad-statement"><strong>CoverTheseLyrics</strong> was founded in 2015 by Daria Hunter. An effort to find an opportunity for herself in the Entertainment Industry evolved into the decision to create, produce, and own a way for her fellow artists to not only market themselves, but connect with other that would literally hear, feel, and perform their words. In February of the same year, she contacted Travis Richard, a fellow aspiring entrepreneur who knew a bit of the tech industry and together, they brought you what we know now as CoverTheseLyrics, the contest that symbolizes two core principles:</p>
		<p class="ballad-statement"><strong>Be Daring:</strong> The contest allows you to make your own path with lyrics. You will not be compared to the original artist like in most cover contests because there is none! It is you. You decide what genre, what tempo, what mood; you create the path with which the song will be heard. Dare to take control?</p>
		<p class="ballad-statement"><strong>Common Interests:</strong> Cover contests are usually filled with aspiring singers performing really established artists lyrics. Lyrics the world has heard before numerous times and again, if you try to make a change or be different, chances are you will be compared to those highly established artists. How about for a second we take those highly established, multi-million person fan base artists off of the pedestal and put people like YOU on? That is right; the lyrics you will have to choose from are from people just like YOU! Hungry, aspiring artists who are climbing as you are. People you can literally relate to as you are on the same journey. You understand them and they understand you because they are you!</p>
	</div>
</div>
<div class="container">
	<div class="col-md-4">  
      <div class="embed-responsive embed-responsive-16by9 ">
        <iframe width="320" height="180" src="https://www.youtube.com/embed/XSvbomAuw6s" class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
      </div>
    </div> 
    <div class="col-md-4">  
      <div class="embed-responsive embed-responsive-16by9 ">
        <iframe width="320" height="180" src="https://www.youtube.com/embed/4dnzQG5cAXI" class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-4">  
      <div class="embed-responsive embed-responsive-16by9 ">
      <iframe width="320" height="180" src="https://www.youtube.com/embed/ozgnNlCNGIk" class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
</div>