<div class="spacing-div">CoverTheseLyrics</div>
<div class="container" id="contact-us-form">
  <div class="row">
    <div class="col-md-8 col-md-offset-3 ">
      <h2 class="ques-or-in">Questions or Inquiries?</h2>
    </div>
  </div>
    
  <div class="row">

    <div class="col-md-4 faqs"> <!-- Space FAQs -->
      
        <h2>FAQs</h2>
        <ol class="contact-ol">
          <li>
            If I choose to get the basket with the Grand Prize why do I only receive $450 instead of $500?
          </li>
            <ul>
              <li>When prizes in total (including money and object worth combined) totals over a certain amount, then the winner receiving those prizes must pay taxes. Because CoverTheseLyrics targets such a broad crowd (including people under 18), that is simply not something we want winners (of any age) to have to do.</li>
            </ul>
          <li>
            Is there a specific type of genre that I must choose?
          </li>
            <ul>
              <li>
                Absolutely not. The lyrics are given to you, but you can sing them however you like. Whatever genre or sub-genre or speed is yours. Get creative and have fun.
              </li>
            </ul> 
          <li>
            Is it Cover These Lyrics or CoverTheseLyrics. Is it really just one word or can I separate them?
          </li>
            <ul>
              <li>
                The contest is called CoverTheseLyrics, and it’s just one word.
              </li>
            </ul>  
          <li>
            Do I have to use a camera to record my video?
          </li>
            <ul>
              <li>
                No you do not. You can use a cell phone,  or whatever you are able to use. However I do suggest keeping in mind quality as I could see that playing a part in whether people watch and share your video.
              </li>
            </ul> 
          <li>
            Can I submit another cover, song, or lyric that is not featured on the website?
          </li>      
            <ul>
              <li>
                In order to compete in this competition lyrics MUST be from this website and current competition options. Any video submitted that does not comply with these rules will not watched, posted, or considered for this competition.
              </li>
            </ul>
        </ol>
       
      </div> <!-- End FAQs-->

    <div class="col-md-8"><!-- Contact Us Form Beginning-->
      
      <div class="panel panel-default">
        
        <div class="panel-heading">
          <h3 class="panel-title">Contact Us</h3>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">

              <form class="contact-us-form" action="" method="POST" id="contact-us">
                <div class="form-group">
                  <label for="fullName">Name</label>
                  <input name="name" type="text" class="form-control" id="fullName" placeholder="Full Name">
                </div>

                <div class="form-group">
                  <label for="email">Email Address</label>
                  <input name="email" type="text" class="form-control" id="cuf-email" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="subject">Email Address</label>
                  <input name="subject" type="text" class="form-control" id="contact-us-subject" placeholder="Subject">
                </div>
              
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea name="message" type="text-area" class="form-control" id="cuf-mess" placeholder="Message"></textarea>
                </div>
              
              <!--
              </form>
              -->
              </form>

                <button id="submission" type="submit" class="btn btn-primary btn-md" data-remodal-target="modal">Submit</button>

              <div class="remodal" data-remodal-id="modal">
                <button data-remodal-action="close" class="remodal-close"></button>
                <h1>Thank you for your submission</h1>
                <p>
                  We will get back to you with answers to your questions.
                </p>

                  <p>Be sure to checkout our <a href="https://www.facebook.com/covertheselyrics/">Facebook Page</a>
                </p>
                <br>
                <button data-remodal-action="confirm" class="remodal-confirm" id="remodal-submit" type="submit">OK</button>

            </div>
          </div>

        </div>
      </div>
      </div>
   
    </div> <!-- Contact Us Form End-->
    
    </div>
  </div>