<div class="container"><!-- View Your Favorite Beginning-container -->
  <div class="container contest_container"> <!-- 4th Contest-->
    <div class="row"><!-- Video Row -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="past-contestants">
        <h2>4th Contest</h2>
      </div>
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/Bf1g9cP0rlQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Ashur Hailey</h3>
            <p>Michigan</p>
            <p>Home</p>
          </span>
        </div>
      </div>  
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/s-yl4Wrev-k" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Kendre</h3>
            <p>Kentucky</p>
            <p>Home</p>
          </span>
        </div>
      </div>
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/lb5NAZwH1Og" frameborder="0" allowfullscreen></iframe>
        </div>

        <div>
          <span>
            <h3>Jordan Ballard</h3>
            <p>Texas</p>
            <p>Home</p>
          </span>
        </div>

      </div>
    </div><!-- Video Row End -->

    <div class="row"><!-- Video Row -->
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/mM8_IVGPWF4" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Alaya Morris</h3>
            <p>Georgia</p>
            <p>Home</p>
          </span>
        </div>
      </div>  
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/cfd1UxtqbIo" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Tania S</h3>
            <p>Massachusetts</p>
            <p>Adventure X</p>
          </span>
        </div>
      </div>
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/JO76znnZPpQ" frameborder="0" allowfullscreen></iframe>
        </div>

        <div>
          <span>
            <h3>Gabrielle Armstead</h3>
            <p>Kentucky</p>
            <p>Home</p>
          </span>
        </div>

      </div>
    </div><!-- Video Row End -->

     <div class="row"><!-- Video Row -->
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/3klh8Kca_MM" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Jennell Davis</h3>
            <p>California</p>
            <p>Home</p>
          </span>
        </div>
      </div>  
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/BcbxJiHNq2w" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Zara Khokhar</h3>
            <p>New Jersey</p>
            <p>Home</p>
          </span>
        </div>
      </div>
    </div><!-- Video Row End -->

  </div>  <!-- 4th Contest End -->

  <div class="container contest_container"> 
    <div class="row"><!-- Video Row -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="past-contestants">
        <h2>3rd Contest</h2>
      </div>
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/80kjJbyupNc" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Tania S</h3>
            <p>Massachusetts</p>
            <p>INHALE</p>
          </span>
        </div>
      </div>  
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/PWngcxmc6Xc" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Ashur Hailey</h3>
            <p>Michigan</p>
            <p>Wild Rose</p>
          </span>
        </div>
      </div>
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/6L3A8QBB3Bk" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Jacob Goode</h3>
            <p>New Jersey</p>
            <p>Blind Feeling</p>
          </span>
        </div>

      </div>
    </div><!-- Video Row End -->

    <div class="row"><!-- Video Row -->
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/WtD2ePsugDU" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Tierra</h3>
            <p>Washington</p>
            <p>INHALE</p>
          </span>
        </div>
      </div>  
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/0EdFSlSeq2E" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Lashawn DeBase</h3>
            <p>Georgia</p>
            <p>Blind Feeling</p>
          </span>
        </div>
      </div>
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/za5a6qqLQnQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Shanice Sykes</h3>
            <p>Georgia</p>
            <p>INHALE</p>
          </span>
        </div>

      </div>
    </div><!-- Video Row End -->

    <div class="row"><!-- Video Row -->
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/mM8_IVGPWF4" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Tierra</h3>
            <p>Washington</p>
            <p>INHALE</p>
          </span>
        </div>
      </div>  
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/cfd1UxtqbIo" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Lashawn DeBase</h3>
            <p>Georgia</p>
            <p>Blind Feeling</p>
          </span>
        </div>
      </div>
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/JO76znnZPpQ" frameborder="0" allowfullscreen></iframe>
        </div>

        <div>
          <span>
            <h3>Shanice Sykes</h3>
            <p>Georgia</p>
            <p>INHALE</p>
          </span>
        </div>

      </div>
    </div><!-- Video Row End -->

     <div class="row"><!-- Video Row -->
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/tc1TxdrIhzA" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Ryan Persichilli</h3>
            <p>Texas</p>
            <p>Blind Feeling</p>
          </span>
        </div>
      </div>  
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/STKwwW8ePgE" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Lovens Presume</h3>
            <p>Ohio</p>
            <p>Waiting Anxiously</p>
          </span>
        </div>
      </div>
       <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/xD3RU_P3wAg" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>LaFaye</h3>
            <p>Georgia</p>
            <p>Waiting Anxiously</p>
          </span>
        </div>
      </div>
    </div><!-- Video Row End -->

   
  <div class="row"><!-- Video Row -->
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/kpRIDHURex8" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Samuel Anyakwu</h3>
            <p>Texas</p>
            <p>INHALE</p>
          </span>
        </div>
      </div>  
      
    </div><!-- Video Row End -->

  </div>  <!-- Contest Row End -->

  <div class="container contest_container"> <!-- 4th Contest-->
    <div class="row"><!-- Video Row -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="past-contestants">
        <h2>2nd Contest</h2>
      </div>
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/d67A_KaOpHw" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Erik D-H</h3>
            <p>Quarantine</p>
          </span>
        </div>
      </div>  
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/y47GBrw0AUM" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Trez</h3>
            <p>Curxe</p>
          </span>
        </div>
      </div>
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/yzKssJDi1RY" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Jake A</h3>
            <p>Curxe</p>
          </span>
        </div>

      </div>
    </div><!-- Video Row End -->

    <div class="row"><!-- Video Row -->
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/6JboueWcazc" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Anna L</h3>
            <p>Orange Sun</p>
          </span>
        </div>
      </div>  
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/cfd1UxtqbIo" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Tania S</h3>
            <p>Quarantine</p>
          </span>
        </div>
      </div>
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/uMHO1e-YY8s" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Ryan M</h3>
            <p>Orange Sun</p>
          </span>
        </div>

      </div>
    </div><!-- Video Row End -->
  </div>  <!-- 2nd Contest End -->

  <div class="container contest_container"> <!-- 4th Contest-->
    <div class="row"><!-- Video Row -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="past-contestants">
        <h2>1st Contest</h2>
      </div>
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/HmY889baFkY" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Arnelle N</h3>
            <p>Fuel</p>
          </span>
        </div>
      </div>  
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/QFBV889hGNk" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Ben I</h3>
            <p>Bitterly Human</p>
          </span>
        </div>
      </div>
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/g_ctQrPNGJA" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Tania S</h3>
            <p>Fuel</p>
          </span>
        </div>

      </div>
    </div><!-- Video Row End -->

    <div class="row"><!-- Video Row -->
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/wVz6ZlKKPPw" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Scarlett M</h3>
            <p>Heavy Shoulders</p>
          </span>
        </div>
      </div>  
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/jSizkAj7xuU" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Evan D Truth</h3>
            <p>Bitterly Human</p>
          </span>
        </div>
      </div>
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/SVSj7WGSERM" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Alissa W</h3>
            <p>Heavy Shoulders</p>
          </span>
        </div>

      </div>
    </div><!-- Video Row End -->

    <div class="row"><!-- Video Row -->
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="308" height="171" src="https://www.youtube.com/embed/wGVs2PjeYpM" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
          <span>
            <h3>Alexandra T</h3>
            <p>Heavy Shoulders</p>
          </span>
        </div>
      </div>  
    </div><!-- Video Row End --> 
  </div>  <!-- 2nd Contest End -->

</div><!-- View Your Favorite ending-container -->