<div>

  <script>
    jQuery(document).ready(function($) {
      $('#myCarousel').unslider();
      autoplay:true;
      this.interval: 1000;
    });
  </script>

<div class="main_content">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner">

      <div class="item active">
        <img src="/assets/images/sliderImages/Lone-Singer_noir_SFW.jpg" alt="lone-singer" class="img-responsive photo">
        <div class="carousel-caption">
          <h2><b>Music</b></h2>
          <p><b>The lyrics might be ours, but the music and what you do with it is yours.</b></p>
        </div>
      </div>

      <div class="item">
        <img src="/assets/images/sliderImages/marley-like_newcrop_SFW.jpg" alt="bob marley look-a-like" class="img-responsive photo">
        <div class="carousel-caption">
          <h2 class="carousel-caption-title"><b>Mic Check</b></h2>
          <p class="carousel-caption-words"><b>Let us hear you.</b></p>
        </div>
      </div>

      <div class="item">
        <img src="/assets/images/sliderImages/microphone-D_noir_SFW.jpg" alt="microphone" class="img-responsive photo">
        <div class="carousel-caption">
          <h2 class="carousel-caption-title"><b >If you win...</b></h2>
          <p class="carousel-caption-words"><b>The world could be hearing your lyrics!</b></p>
        </div>
      </div>

      <div class="item">
        <img src="/assets/images/sliderImages/pure_bluegrass_cropSFW.jpg" alt="pure-bluegrass" class="img-responsive photo">
        <div class="carousel-caption">
          <h2 class="carousel-caption-title"><b>Lyrics are written to make a connection</b></h2>
          <p class="carousel-caption-words"><b>Music is written to feel it.</b></p>
        </div>
      </div>

      <div class="item">
        <img src="/assets/images/sliderImages/singer_crop_SFW.jpg" alt="singer" class="img-responsive photo">
        <div class="carousel-caption">
          <h2 class="carousel-caption-title"><b>CoverTheseLyrics is Your Stage</b></h2>
          <p class="carousel-caption-words"><b>Perform</b></p>
        </div>
      </div>

    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev" data-interval="1000">
      <span class="icon-prev" data-interval="1000"></span>
    </a>

    <a class="carousel-control right" href="#myCarousel" data-slide="next" data-interval="1000">
      <span class="icon-next" data-interval="1000"></span>
    </a>

  </div>
</div>

  <div class="row">

    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div id="about">
        <h2 class="about-h2">So What is CoverTheseLyrics?</h2>
        <p class="page-content">
          CoverTheseLyrics is an online singing contest for not only the singer in you, but the writer too. The contest is open to anyone, male or female, 14 years or older (with parental consent) and it is completely free. With CoverTheseLyrics, just by making
          your own song you can win multiple prizes!!
        </p>
        <h2 class="about-h2"> 
          Check out the video below for more details!
        </h2>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="contest-submission">
      <h2 class="about-h2">Submit your cover in 3 easy steps</h2>
      <iframe width="900" height="550" src="https://www.youtube.com/embed/-DAMbjfqJ8Y" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

<div class="container"><!-- past-winners-container -->
 <div class="row">
    <div class="col-xs-12" id="past-winners">
      <h2 class="about-h2">Checkout Our Past Winners</h2>
    </div>
  </div>
    <div class="row">
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="673" height="379" src="https://www.youtube.com/embed/HmY889baFkY" class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>  
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="360" height="350" src="https://www.youtube.com/embed/WtD2ePsugDU" class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="360" height="350" src="https://www.youtube.com/embed/d67A_KaOpHw" class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>  
  </div>
  

  <div class="spacing-div">
  </div>

  <!-- countdown timer -->
  <div class="container">
    <div class="row">
      <div id="del-countdown">
        <h2 class="timer-h2">The 5th Contest is now extended to November 30th</h2>
        <div id="clock"></div>
        <div id="units">
          <span>Days</span>
          <span>Hours</span>
          <span>Minutes</span>
          <span>Seconds</span>
        </div>
      </div>
    </div>
  </div>

  <div class="spacing-div">
  </div>
  
  <div class="row">
    <span class="owner">Owned and operated by Daria Hunter.</span>
  </div>
</div>
