<div class="container" >

<script>
    jQuery(document).ready(function($) {
      $('.my-slider').unslider();
      autoplay:true;
    });
  </script>

  


  <div class="row" id="image_carousel">
    
    <div class="col-md-12 col-sm-12" id="carousel_image_container">

      <div class="my-slider">
          <ul>
            <li><img class="slider-images" src="./assets/images/sliderImages/Lone-Singer_noir_SFW.jpg" alt="singer" class="slider_images"></li>
            <li><img class="slider-images" src="./assets/images/sliderImages/marley-like_newcrop_SFW.jpg" alt="bob-marley esque" class="slider_images"></li>
            <li><img class="slider-images" src="./assets/images/sliderImages/microphone-D_noir_SFW.jpg" alt="microphone" class="slider_images"></li>
            <li><img class="slider-images" src="./assets/images/sliderImages/pure_bluegrass_cropSFW.jpg" alt="bluegrass-music" class="slider_images"></li>
            <li><img class="slider-images" src="./assets/images/sliderImages/singer_crop_SFW.jpg" alt="singer" class="slider_images"></li>
          </ul>
      </div>
    </div>
  </div>



  <div class="row">
    
    <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-1" >
      <p id="about">
        CoverTheseLyrics is an online singing contest for not only the singer in you, but the writer too. The contest is open to anyone, male or female, 14 years or older (with parental consent) and it is completely free. With CoverTheseLyrics, just by making your own song you can win multiple prizes!!
      </p>


      
    </div>
  </div>


<div class="row">
  <div class="col-md-7 col-md-offset-2" id="contest-submission">
    <p id="conest-submission">Submit your cover in 3 easy steps</p>
<iframe width="660" height="350" src="https://www.youtube.com/embed/-DAMbjfqJ8Y" frameborder="0" allowfullscreen></iframe>
</div>
</div>




  <div class="row">
    <div class="col-md-4 col-md-offset-4" id="past-winners">
      <h2>Checkout Our Past Winners</h2>
    </div>
  </div>
          

  <div class="row" id="videos">

    <div class="col-md-4 col-sm-3">
      <iframe width="370" height="350" src="https://www.youtube.com/embed/STKwwW8ePgE" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="col-md-4 col-sm-3">
      <iframe width="370" height="350" src="https://www.youtube.com/embed/WtD2ePsugDU" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="col-md-4 col-sm-3">
      <iframe width="370" height="350" src="https://www.youtube.com/embed/d67A_KaOpHw" frameborder="0" allowfullscreen></iframe>
    </div>

  </div>

</div>






