<div class="index-container">
  <div class="row">

    <div class="col-md-3">.col-md-3</div>
    
    <div class="col-md-6">
      <p>
        CoverTheseLyrics is an online singing contest for not only the singer in you, but the writer too. The contest is open to anyone, male or female, 14 years or older (with parental consent) and it is completely free. With CoverTheseLyrics, just by making your own song you can win multiple prizes!!
      </p>


      <h2>Submit your cover in 3 easy steps</h2>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/-DAMbjfqJ8Y" frameborder="0" allowfullscreen></iframe>


    </div>

    <div class="col-md-3">.col-md-3</div>






<!--   <div class="your-class" id="single-item">
    <div>your content</div>
    <div>your content</div>
    <div>your content</div>
  </div> -->

</div><!-- End of index-container -->