<div class="index-container">
  <h1>This is the Home Page</h1>
  <h1>Home Page</h1>
  <h1>Home Page</h1>
  <h1>Home Page</h1>
  <h1>Home Page</h1>

  <br>



  <div class="your-class" id="single-item">
    <div>your content</div>
    <div>your content</div>
    <div>your content</div>
  </div>

</div><!-- End of index-container -->