<div class="container">
  <h2>Check Out Lyrics For Our 5th Contest!</h2>
    <div class="gallery">
      <div class="row">
        <div class="col-lg-4">
          <a href="/assets/images/finalLyricsC4/heart-to-heart-master.jpg_finished.jpg"  data-lightbox="lyrics" data-title="Heart to Heart By Ashur Hailey"><img src="/assets/images/finalLyricsC4/heart-to-heart-master.jpg_finished.jpg" class="img-thumbnail" >
          </a>
        </div>
         <div class="col-lg-4">
          <a href="/assets/images/finalLyricsC4/music-master.jpg"  data-lightbox="lyrics" data-title="Music By Ashur Hailey"><img src="/assets/images/finalLyricsC4/music-master.jpg" class="img-thumbnail">
          </a>
        </div>
         <div class="col-lg-4">
          <a href="/assets/images/finalLyricsC4/feels-good-crop.jpg" data-lightbox="lyrics" data-title="Feels Good By Jennel Davis"><img src="/assets/images/finalLyricsC4/feels-good-crop.jpg" class="img-thumbnail">
          </a>
        </div>

      </div>
      <!--row one ends -->

      <div class="row">
        <div class="col-lg-4">
          <a href="/assets/images/finalLyricsC4/peak-crop-color.jpg" data-lightbox="lyrics" data-title="Peak By Daria Hunter"><img src="/assets/images/finalLyricsC4/peak-crop-color.jpg" class="img-thumbnail" >
          </a>
        </div>
         <div class="col-lg-4">
          <a href="/assets/images/finalLyricsC4/somethingFin1.jpg"  data-lightbox="lyrics" data-title="Something By Ashur Hailey"><img src="/assets/images/finalLyricsC4/somethingFin1.jpg" class="img-thumbnail" >
          </a>
        </div>
         <div class="col-lg-4">
          <a href="/assets/images/finalLyricsC4/theMomenFin1r.jpg"  data-lightbox="lyrics" data-title="The Moment By Daria Hunter"><img src="/assets/images/finalLyricsC4/theMomenFin1r.jpg" class="img-thumbnail" >
          </a>
        </div>

      </div>
      <!-- row 2 ends -->
    </div>
</div>