<head><link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"></head>
<div class="container">
  <h2>Check Out Lyrics For Our 5th Contest!</h2>
    <div class="gallery">
      <div class="row">
        <div class="col-lg-4 lyric-div">
          <a href="/assets/images/finalLyricsC4/heart-to-heart-master.jpg_finished.jpg"  data-lightbox="lyrics" data-title="Heart to Heart By Ashur Hailey"><img src="/assets/images/finalLyricsC4/heart-to-heart-master.jpg_finished.jpg" class="img-thumbnail" alt="A lyrical composition titled 'Heart to Heart' written by Ashur Hailey">
          </a>
          <span class="pdf-span"><a href="/assets/images/finalLyricsC4/heart-to-heart-by-ashur-hailey.pdf" target="_blank"><img src="/assets/images/finalLyricsC4/Adobe_PDF_file_icon.png" ><b> Download PDF here</b></a></span>
        </div>
         <div class="col-lg-4 lyric-div">
          <a href="/assets/images/finalLyricsC4/music-master.jpg"  data-lightbox="lyrics" data-title="Music By Ashur Hailey"><img src="/assets/images/finalLyricsC4/music-master.jpg" class="img-thumbnail" alt="A lyrical composition titled 'Music' written by Ashur Hailey">
          </a>
          <span class="pdf-span"><a href="/assets/images/finalLyricsC4/music-by-ashur-hailey.pdf" target="_blank"><img src="/assets/images/finalLyricsC4/Adobe_PDF_file_icon.png" ><b> Download PDF here</b></a></span>
        </div>
         <div class="col-lg-4 lyric-div">
          <a href="/assets/images/finalLyricsC4/feels-good-crop.jpg" data-lightbox="lyrics" data-title="Feels Good By Jennel Davis"><img src="/assets/images/finalLyricsC4/feels-good-crop.jpg" class="img-thumbnail" alt="A lyrical composition titled 'Feels Good' written by Jennel Davis">
          </a>
         <span class="pdf-span"><a href="/assets/images/finalLyricsC4/feels-good-by-jennel-davis.pdf" target="_blank"><img src="/assets/images/finalLyricsC4/Adobe_PDF_file_icon.png" ><b> Download PDF here</b></a></span>
        </div>

      </div>
      <!--row one ends -->

      <div class="row">
        <div class="col-lg-4 lyric-div">
          <a href="/assets/images/finalLyricsC4/peak-by-daria-hunter.jpg" data-lightbox="lyrics" data-title="Peak By Daria Hunter"><img src="/assets/images/finalLyricsC4/peak-by-daria-hunter.jpg" class="img-thumbnail" alt="A lyrical composition titled 'Peak' written by Daria Hunter">
          </a>
          <span class="pdf-span"><a href="/assets/images/finalLyricsC4/peak-by-daria-hunter.pdf" target="_blank"><img src="/assets/images/finalLyricsC4/Adobe_PDF_file_icon.png" ><b> Download PDF here</b></a></span>
        </div>
         <div class="col-lg-4 lyric-div">
          <a href="/assets/images/finalLyricsC4/somethingFin1.jpg"  data-lightbox="lyrics" data-title="Something By Ashur Hailey"><img src="/assets/images/finalLyricsC4/somethingFin1.jpg" class="img-thumbnail" alt="A lyrical composition titled 'Something' written by Ashur Hailey">
          </a>
          <span class="pdf-span"><a href="/assets/images/finalLyricsC4/something-by-ashur-hailey.pdf" target="_blank"><img src="/assets/images/finalLyricsC4/Adobe_PDF_file_icon.png" ><b> Download PDF here</b></a></span>
        </div>
         <div class="col-lg-4 lyric-div">
          <a href="/assets/images/finalLyricsC4/theMomenFin1r.jpg"  data-lightbox="lyrics" data-title="The Moment By Daria Hunter"><img src="/assets/images/finalLyricsC4/theMomenFin1r.jpg" class="img-thumbnail" alt="A lyrical composition titled 'The Moment' written by Daria Hunter">
          </a>
          <span class="pdf-span"><a href="/assets/images/finalLyricsC4/theMoment-by-daria-hunter.pdf" target="_blank"> <img src="/assets/images/finalLyricsC4/Adobe_PDF_file_icon.png"><b> Download PDF here</b></a></span>
        </div>

      </div>
      <!-- row 2 ends -->
    </div>
</div>