<script>
    jQuery(document).ready(function($) {
      $('.my-slider').unslider();
      autoplay:true;
      delay: 5000;
    });
  </script>


<div class="container">
<div class="row" id="lyrics-container">


  <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
    <h2>Check Out Lyrics From Our Last Round</h2>
    <div class="my-slider">
      <ul>
        <li><img src="../assets/images/finalLyricsC4/Adventure-X-6.png"></li>
        <li><img src="../assets/images/finalLyricsC4/Evolution--Lovens-Presume-5_SFW.png"></li>
        <li><img src="../assets/images/finalLyricsC4/Five_Senses-1.1_SFW.png"></li>
        <li><img src="../assets/images/finalLyricsC4/Home-Lyric-11_SFW.png"></li>
        <li><img src="../assets/images/finalLyricsC4/Incredible-Lovens-5_SFW.png"></li>
        <li><img src="../assets/images/finalLyricsC4/Lonely-No-More-4_Lovens_SFW.png"></li>
      </ul>
    </div>
  </div>

</div>
</div>