<div class="container">
  <h2>Check Out Lyrics From Our Last Round</h2>
    <div class="gallery">
      <div class="row">
        <div class="col-lg-4">
          <a href="/assets/images/finalLyricsC4/lonely-no-more-modal.png"  data-lightbox="lyrics" data-title="Lonely No More By Lovens Presume"><img src="/assets/images/finalLyricsC4/Lonely-No-More-4_Lovens_SFW.png" class="img-thumbnail" >
          </a>
        </div>
         <div class="col-lg-4">
          <a href="/assets/images/finalLyricsC4/evolution-modal.png"  data-lightbox="lyrics" data-title="Evolution By Lovens Presume"><img src="/assets/images/finalLyricsC4/Evolution--Lovens-Presume-5_SFW.png" class="img-thumbnail">
          </a>
        </div>
         <div class="col-lg-4">
          <a href="/assets/images/finalLyricsC4/five-senses-modal.png" data-lightbox="lyrics" data-title="Five Senses By Daria Hunter"><img src="/assets/images/finalLyricsC4/Five_Senses-1.1_SFW.png" class="img-thumbnail">
          </a>
        </div>

      </div>
      <!--row one ends -->

      <div class="row">
        <div class="col-lg-4">
          <a href="/assets/images/finalLyricsC4/home-modal.png" data-lightbox="lyrics" data-title="Home By Tierra Wilson"><img src="/assets/images/finalLyricsC4/Home-Lyric-11_SFW.png" class="img-thumbnail" >
          </a>
        </div>
         <div class="col-lg-4">
          <a href="/assets/images/finalLyricsC4/incredible-modal.png"  data-lightbox="lyrics" data-title="Incredible By Lovens Presume"><img src="/assets/images/finalLyricsC4/Incredible-Lovens-5_SFW.png" class="img-thumbnail" >
          </a>
        </div>
         <div class="col-lg-4">
          <a href="/assets/images/finalLyricsC4/adventure-x-modal.png"  data-lightbox="lyrics" data-title="Adventure X By Daria Hunter"><img src="/assets/images/finalLyricsC4/Adventure-X-6.png" class="img-thumbnail" >
          </a>
        </div>

      </div>
      <!-- row 2 ends -->
    </div>
</div>