<div class="prize-container">
  
  <div class="row" id="first-row">
    
    <div class="col-md-8 col-md-offset-2">
      <p>Current Prize Options…</p>
    </div>
    
  </div>

  <div class="row" id="second-row">

    <div class="col-md-8 col-md-offset-1">
         <h2>Grand Prize Option 1:</h2>
            <ul>
              <li>$500 Dollars</li>
              <li>The Opportunity to Help Judge an Ingenuity Award Round</li>
              <li>The Chance to be Marketed on Our Website and…</li>
              <li>The Opportunity to Have Your Original Lyrics in the Next Round for the Nation to cover!</li>
            </ul>
    </div>

  </div>



  <div class="row" id="third-row">

    <div class="col-md-4 col-md-offset-1">
         <h2>Grand Prize Option 2:</h2>
            <ul>
                <li>$450 Dollars (Check out our FAQ if you are curious asto why this is).</li>
                <li>The Opportunity to Help Judge the next Ingenuity Award Round</li>
                <li>The Chance to be marketed on Our Website.</li>
                <li>The Opportunity to Have Your Original Lyrics in the Next Round for the Nation to cover!</li>
                <li>
                  A Skin Care Basket from Artistry Skin Care valued at over $100 dollars. 
                    <ul>
                      <li>Basket for Women includes Face Wash, Face Lotion, Lip Gloss with a Mirror and Flashlight attached and more!</li>
                      <li>Basket for Men includes a Facial Moisturizer, After Shave, Face Wash and more!</li>

                    </ul>
                  </li>
            </ul>
            
    </div>
        

    <div class="col-md-7">
    <img src="/assets/images/Basket-3-SFW-crop.jpg">
    <img src="/assets/images/Basket-9_SFW-crop.jpg" id="img2">

    </div>
  </div>

  <div class="row" id="fourth-row">

    <div class="col-md-4 col-md-offset-1">
      <h2>Ingenuity Award</h2>
          <ul>
            <li>$250 Dollars</li>
            <li>The Opportunity to Help Judge an Ingenuity Award Round</li>
            <li>The Chance to be Marketed on Our Website.</li>
            <li>The Opportunity to Have Your Original Lyrics in the Next Round for the Nation to cover!</li>
            <li>
                  A Skin Care Basket from Artistry Skin Care valued at over $100 dollars. 
                    <ul>
                      <li>Basket for Women includes Face Wash, Face Lotion, Lip Gloss with a Mirror and Flashlight attached and more!</li>
                      <li>Basket for Men includes a Facial Moisturizer, After Shave, Face Wash and more!</li>

                    </ul>
                  </li>
              </ul>

    </div>




<!--   <div class="your-class" id="single-item">
    <div>your content</div>
    <div>your content</div>
    <div>your content</div>
  </div> -->

</div><!-- End of index-container -->