<head>
	<script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
</head>
<h1>Submit Form</h1>


<!-- <form method="POST" action="/new-post">
	
	Name: <input type="text" name="name"/>
	
	State: <input type="text" name="state"/>
	
	Email Adrress: <input type="text" name="email"/>
	
	YouTube Submission: <input type="text" name="image"/>

	Choose Lyric: <div class="dropdown">
					  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    Dropdown
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					    <li><a href="#">Lonely No More</a></li>
					    <li><a href="#">Home</a></li>
					    <li><a href="#">Evolution</a></li>
					    <li><a href="#">Adventure X</a></li>
					    <li><a href="#">Incredible</a></li>
					    <li><a href="#">Five Senses</a></li>
					    <li role="separator" class="divider"></li>
					    <li><a href="#">Separated link</a></li>
					  </ul>
					</div>


			</form>

	

	<button type="submit"> Submit </button> -->

	<form>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Name</label>
	    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Full Name">
	  </div>
	  <div class="form-group">
	    <label for="state">State</label>
	    <input type="text" class="form-control" id="form-state" placeholder="state">
	  </div>
	  <div class="form-group">
	    <label for="email">Email address</label>
	    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
	  </div>
	  <div class="dropdown">
		  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Pick Your Lyric
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    <li><a href="#">Lonely No More</a></li>
		    <li><a href="#">Home</a></li>
		    <li><a href="#">Evolution</a></li>
		    <li><a href="#">Adventure X</a></li>
		    <li><a href="#">Incredible</a></li>
		    <li><a href="#">Five Senses</a></li>
		  </ul>
		</div>
	  
	  <button type="button" class="btn btn-primary btn-lg">Large button</button>
	</form>
