<div>
<h1 id="vote-title">Vote here</h1>

<!-- <div class="container vote-container" id="vote-page-container"> -->
<div class="container" id="vote-page-container">

  <table class="table table-inverse" id="winners-table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Winner</th>
      <th>Votes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>Ben Iuliano</td>
      <td>Grand Prize Winner</td>
      <td>157</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Ebony Rose</td>
      <td>Ingenuity Award Winner</td>
      <td>21</td>
    </tr>
    <tr><th scope="row"> </th>
    <td></td>
    <td></td>
    <td></td>
    </tr>
  </tbody>
</table>

  <div class="row">

    {{#each Submissions}}  
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">

        <h4>{{this.name}},</h4>
        <h4>{{this.state}}</h4>

        <div class="votewidth">
          <iframe class="votewidth" src="https://www.youtube.com/embed/{{this.entry}}" frameborder="0" allowfullscreen></iframe>
        </div>  

        <div>
          <!-- <button type="button" class="btn btn-primary votewidth   votesmallbackground votebutton" name="vote" id="{{this.id}}">Vote For Me!</button> -->
        </div>  

      </div>
    {{/each}}

  </div>  

  <!-- This is the fixed vote daily counter-->
  <!-- <div id="votePanel">
    Vote count:
    <div class="badge votesmallbackground" id="badgestyle"> </div>  
  </div> -->

  <!--bootstrap modal -->

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h1 class="modal-title" id="myModalLabel">Thank you for your vote.</h1>
        </div>

        <div class="modal-body">

          <p>You have 5 votes total per day. Use them wisely!
          Don't forget to tell your friends & family to vote for you!</p>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn modalconfirm  btn-primary btn-lg" data-dismiss="modal">OK</button>
        </div>

      </div>
    </div>
  </div>

</div>
<!-- added countdown clock -->

<div id="del-countdown">
  <h2 class="timer-h2">LOADING....NEW CONTEST!!!</h2>
  <div id="clock"></div>
    <div id="units">
      <span>Days</span>
      <span>Hours</span>
      <span>Minutes</span>
      <span>Seconds</span>
    </div>
</div>
</div>
<!-- END class="container vote-container" id="vote-page-container"> -->

