
		<h1>Vote here</h1>
<button id="votebtn"class="btn btn-default" type="submit" active >Button</button>

<!--
<button class="btn btn-default" type="submit" active >Button</button>
disabled="disabled"
-->