
		<h1>Vote here</h1>
<button class="btn btn-default" type="submit" active >Button</button>

<!--
<button class="btn btn-default" type="submit" active >Button</button>
disabled="disabled"
-->

<div class ="vote-page-container">
	<!-- ****************Row One of How Vote Page Should look***********-->
	<div class="container vote-container gallery-vid">
		<div class="row">
		  <div class="col-xs-6 col-md-4 ">

		  	  <iframe width="308" height="171" src="https://www.youtube.com/embed/Bf1g9cP0rlQ" frameborder="0" allowfullscreen></iframe>
			  <span class="col-xs-6 col-md-4 vote-btn">
			  	<button type="button" class="btn btn-primary btn-md">Vote For Me!</button>
			  </span>
		  </div>
		  <div class="col-xs-6 col-md-4">
		  	<iframe width="308" height="171" src="https://www.youtube.com/embed/HmY889baFkY" frameborder="0" allowfullscreen></iframe>
			  <span class="col-xs-6 col-md-4 vote-btn">
		  	<button type="button" class="btn btn-primary btn-md">Vote For Me!</button>
		 	</span>
		  </div>
		  <div class="col-xs-6 col-md-4">
		  	<iframe width="308" height="171" src="https://www.youtube.com/embed/QFBV889hGNk" frameborder="0" allowfullscreen></iframe>
		  	<span class="col-xs-6 col-md-4 vote-btn">
			  	<button type="button" class="btn btn-primary btn-md">Vote For Me!</button>
			</span>
		  </div>

		</div>
	</div>
	<!-- ***********************End Row One************************* -->

	<!-- *************************Row Two ***************************-->
	<div class="container vote-container gallery-vid">
		<div class="row">
		  <div class="col-xs-6 col-md-4">

		  	  <iframe width="308" height="171" src="https://www.youtube.com/embed/Bf1g9cP0rlQ" frameborder="0" allowfullscreen></iframe>
			  <span class="col-xs-6 col-md-4 vote-btn">
			  	<button type="button" class="btn btn-primary btn-md">Vote For Me!</button>
			  </span>
		  </div>
		  <div class="col-xs-6 col-md-4">
		  	<iframe width="308" height="171" src="https://www.youtube.com/embed/HmY889baFkY" frameborder="0" allowfullscreen></iframe>
			  <span class="col-xs-6 col-md-4 vote-btn">
		  	<button type="button" class="btn btn-primary btn-md">Vote For Me!</button>
		 	</span>
		  </div>
		  <div class="col-xs-6 col-md-4">
		  	<iframe width="308" height="171" src="https://www.youtube.com/embed/QFBV889hGNk" frameborder="0" allowfullscreen></iframe>
		  	<span class="col-xs-6 col-md-4 vote-btn">
			  	<button type="button" class="btn btn-primary btn-md">Vote For Me!</button>
			</span>
		  </div>

		</div>
	</div>
	<!-- ***********************End Row Two************************* -->

	<!-- *************************Row Three ***************************-->
	<div class="container vote-container gallery-vid">
		<div class="row">
		  <div class="col-xs-6 col-md-4">

		  	  <iframe width="308" height="171" src="https://www.youtube.com/embed/Bf1g9cP0rlQ" frameborder="0" allowfullscreen></iframe>
			  <span class="col-xs-6 col-md-4 vote-btn">
			  	<button type="button" class="btn btn-primary btn-md">Vote For Me!</button>
			  </span>
		  </div>
		  <div class="col-xs-6 col-md-4">
		  	<iframe width="308" height="171" src="https://www.youtube.com/embed/HmY889baFkY" frameborder="0" allowfullscreen></iframe>
			  <span class="col-xs-6 col-md-4 vote-btn">
		  	<button type="button" class="btn btn-primary btn-md">Vote For Me!</button>
		 	</span>
		  </div>
		  <div class="col-xs-6 col-md-4">
		  	<iframe width="308" height="171" src="https://www.youtube.com/embed/QFBV889hGNk" frameborder="0" allowfullscreen></iframe>
		  	<span class="col-xs-6 col-md-4 vote-btn">
			  	<button type="button" class="btn btn-primary btn-md">Vote For Me!</button>
			</span>
		  </div>

		</div>
	</div>
	<!-- ***********************End Row Three************************* -->
</div>