
<h1 class="vote-title">Vote here</h1>
	<div class ="vote-page-container">
		<div class="container vote-container gallery-vid">

			{{#each Submissions}}
			<div>
			<iframe width="308" height="171" src="{{this.entry}}" frameborder="0" allowfullscreen></iframe>
			<span class="col-xs-6 col-md-4 vote-btn">
			<button type="button" class="btn btn-primary btn-md">Vote For Me!</button>
			</span>
			</div>  
			{{/each}}

		</div>
	</div>


