<div class="spacing-div">Winners Cirle</div>
<div class="container win_cntst_container">
  
<div class="container"> <!-- Ben Iuiano Begin-->
    <div class="row"><!-- Video Row -->
      <div class="row-height">
        <div class="col-xs-12" id="past-contestants">
          <h2>Our 5th Contest Grand Prize Winner Ben Iuiano</h2>
        </div>
      </div>
    </div>
      
    <div class="row win-vid"> 
      <div class="row-height"> 
        <div class="col-md-6 col-height"> 
          <div class="inside">   
            <div class="embed-responsive embed-responsive-16by9 ">
              <iframe width="308" height="171" src="https://www.youtube.com/embed/dFt1AgZM6co" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>  
        </div>  
        <div class="col-md-4 col-height">
          <div class="inside">
            <div class="content">
              <a href="/assets/images/finalLyricsC4/heart-to-heart-master_cropped.jpg"  data-lightbox="lyrics" data-title="Heart to Heart by Ashur Hailey" class="winner-lyric"><img src="/assets/images/finalLyricsC4/heart-to-heart-master_cropped.jpg" class="img-thumbnails" alt="CoverTheseLyrics Lyric 'Heart to Heart' by Ashur Hailey">
              </a>
            </div>  
          </div>    
        </div>
      </div>  
    </div>
  </div> <!-- Ben Iuiano End -->

  <div class="container"> <!-- Ebony Rose Begin-->
    <div class="row"><!-- Video Row -->
      <div class="row-height">
        <div class="col-xs-12" id="past-contestants">
          <h2>Our 5th Contest Ingenuity Award Winner Ebony Rose</h2>
        </div>
      </div>
    </div>

    <div class="row win-vid"> 
      <div class="row-height">         
        <div class="col-md-6 col-height"> 
          <div class="inside">   
            <div class="embed-responsive embed-responsive-16by9 ">
              <iframe width="308" height="171" src="https://www.youtube.com/embed/F35LU1Oa0ds" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>  
        </div>  
        <div class="col-md-4 col-height">
          <div class="inside">
            <div class="content">
              <a href="/assets/images/finalLyricsC4/heart-to-heart-master_cropped.jpg"  data-lightbox="lyrics" data-title="Heart to Heart by Ashur Hailey" class="winner-lyric"><img src="/assets/images/finalLyricsC4/heart-to-heart-master_cropped.jpg" class="img-thumbnails" alt="CoverTheseLyrics Lyric 'Heart to Heart' by Ashur Hailey">
              </a>
            </div>  
          </div>    
        </div>
      </div>  
    </div>
  </div>  <!-- Ebony Rose End-->

</div><!-- 5th Contest div-->

<div class="container win_cntst_container">
  <div class="container"> <!-- Ashur Begin-->
    <div class="row"><!-- Video Row -->
      <div class="row-height">
        <div class="col-xs-12" id="past-contestants">
          <h2>Our 4th Contest Grand Prize Winner Ashur H</h2>
        </div>
      </div>
    </div>
      
    <div class="row win-vid"> 
      <div class="row-height"> 
        <div class="col-md-6 col-height"> 
          <div class="inside">   
            <div class="embed-responsive embed-responsive-16by9 ">
              <iframe width="308" height="171" src="https://www.youtube.com/embed/Bf1g9cP0rlQ" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>  
        </div>  
        <div class="col-md-4 col-height">
          <div class="inside">
            <div class="content">
              <a href="/assets/images/finalLyricsC4/Home-Lyric-11_SFW.png"  data-lightbox="lyrics" data-title="Home by Tierra Wilson" class="winner-lyric"><img src="/assets/images/finalLyricsC4/Home-Lyric-11_SFW.png" class="img-thumbnails" alt="CoverTheseLyrics Lyric 'Home' by Tierra Wilson">
              </a>
            </div>  
          </div>    
        </div>
      </div>  
    </div>
  </div> <!-- Ashur End -->

    <div class="container"> <!-- Jennell Davis Begin-->
    <div class="row"><!-- Video Row -->
      <div class="row-height">
        <div class="col-xs-12" id="past-contestants">
          <h2>Our 4th Contest Ingenuity Award Winner Jennell Davis</h2>
        </div>
      </div>
    </div>

    <div class="row win-vid"> 
      <div class="row-height">         
        <div class="col-md-6 col-height"> 
          <div class="inside">   
            <div class="embed-responsive embed-responsive-16by9 ">
              <iframe width="673" height="505" src="https://www.youtube.com/embed/3klh8Kca_MM" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>  
        </div>  
        <div class="col-md-4 col-height">
          <div class="inside">
            <div class="content">
              <a href="/assets/images/finalLyricsC4/Home-Lyric-11_SFW.png"  data-lightbox="lyrics" data-title="Home by Tierra Wilson" class="winner-lyric"><img src="/assets/images/finalLyricsC4/Home-Lyric-11_SFW.png" class="img-thumbnails" alt="CoverTheseLyrics Lyric 'Home' by Tierra Wilson">
              </a>
            </div>  
          </div>    
        </div>
      </div>  
    </div>
  </div>  <!-- Jennell Davis End-->

</div> <!-- 4th Contest Container End--> 

<div class="container win_cntst_container"><!-- 3rd Contest Container Beginning -->
  <div class="container"> <!-- Lovens Presume Begin-->
    <div class="row"><!-- Video Row -->
      <div class="row-height">
        <div class="col-xs-12" id="past-contestants">
          <h2>Our 3rd Contest Grand Prize Winner Lovens Presume</h2>
        </div>
      </div>
    </div>

    <div class="row win-vid"> 
      <div class="row-height">         
        <div class="col-md-6 col-height"> 
          <div class="inside">   
            <div class="embed-responsive embed-responsive-16by9 ">
              <iframe width="673" height="379" src="https://www.youtube.com/embed/STKwwW8ePgE" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>  
        </div>  
        <div class="col-md-4 col-height">
          <div class="inside">
            <div class="content">
              <a href="/assets/images/finalLyricsC4/Waiting-Anxiously_SFW.png"  data-lightbox="lyrics" data-title="Waiting Anxiously by Daria Hunter" class="winner-lyric"><img src="/assets/images/finalLyricsC4/Waiting-Anxiously_SFW.png" class="img-thumbnails" alt="CoverTheseLyrics Lyric 'Waiting Anxiously' by Daria Hunter">
              </a>
            </div>  
          </div>    
        </div>
      </div>  
    </div>
  </div> <!-- Lovens Presume End -->

    <div class="container"> <!-- Tierra Wilson Begin-->
    <div class="row"><!-- Video Row -->
      <div class="row-height">
        <div class="col-xs-12" id="past-contestants">
          <h2>Our 3rd Contest Ingenuity Award Tierra Wilson</h2>
        </div>
      </div>
    </div>

    <div class="row win-vid"> 
      <div class="row-height">         
        <div class="col-md-6 col-height"> 
          <div class="inside">   
            <div class="embed-responsive embed-responsive-16by9 ">
              <iframe width="673" height="379" src="https://www.youtube.com/embed/WtD2ePsugDU" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>  
        </div>  
        <div class="col-md-4 col-height">
          <div class="inside">
            <div class="content">
              <a href="/assets/images/finalLyricsC4/INHALE_lyric_SFW.png"  data-lightbox="lyrics" data-title="INHALE by Erik D-H" class="winner-lyric"><img src="/assets/images/finalLyricsC4/INHALE_lyric_SFW.png" class="img-thumbnails" alt="CoverTheseLyrics Lyric 'INHALE' by Erik D-H">
              </a>
            </div>  
          </div>    
        </div>
      </div>  
    </div>
  </div>  <!-- Tierra Wilson End-->

</div><!-- 3rd Contest Container End -->

<div class="container win_cntst_container"><!-- 2nd Contest Container Beginning -->
  <div class="container"> <!-- Erik D-H Begin-->
    <div class="row"><!-- Video Row -->
      <div class="row-height">
        <div class="col-xs-12" id="past-contestants">
          <h2>Our 2nd Contest Grand Prize Winner Erik D-H</h2>
        </div>
      </div>
    </div>

    <div class="row win-vid"> 
      <div class="row-height">         
        <div class="col-md-6 col-height"> 
          <div class="inside">   
            <div class="embed-responsive embed-responsive-16by9 ">
              <iframe width="673" height="379" src="https://www.youtube.com/embed/d67A_KaOpHw" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>  
        </div>  
        <div class="col-md-4 col-height">
          <div class="inside">
            <div class="content">
              <a href="/assets/images/finalLyricsC4/Quarantine_done_SFW.png"  data-lightbox="lyrics" data-title="Quarantine by Daria Hunter" class="winner-lyric"><img src="/assets/images/finalLyricsC4/Quarantine_done_SFW.png" class="img-thumbnails" alt="CoverTheseLyrics Lyric 'Quarantine' by Daria Hunter">
              </a>
            </div>  
          </div>    
        </div>
      </div>  
    </div>
  </div> <!-- Erik D-H End -->

    <div class="container"> <!-- Trez Begin-->
    <div class="row"><!-- Video Row -->
      <div class="row-height">
        <div class="col-xs-12" id="past-contestants">
          <h2>Our 2nd Contest Ingenuity Award Trez</h2>
        </div>
      </div>
    </div>

    <div class="row win-vid"> 
      <div class="row-height">         
        <div class="col-md-6 col-height"> 
          <div class="inside">   
            <div class="embed-responsive embed-responsive-16by9 ">
              <iframe width="673" height="379" src="https://www.youtube.com/embed/y47GBrw0AUM" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>  
        </div>  
        <div class="col-md-4 col-height">
          <div class="inside">
            <div class="content">
              <a href="/assets/images/finalLyricsC4/curxe_lyric-fin_SFW.png"  data-lightbox="lyrics" data-title="Curxe by Arnelle Nonon" class="winner-lyric"><img src="/assets/images/finalLyricsC4/curxe_lyric-fin_SFW.png" class="img-thumbnails" alt="CoverTheseLyrics Lyric 'Curxe' by Arnelle Nonon">
              </a>
            </div>  
          </div>    
        </div>
      </div>  
    </div>
  </div>  <!-- Trez End-->

</div><!-- 2nd Contest Container End -->

<div class="container win_cntst_container"><!-- 1st Contest Container Beginning -->
  <div class="container"> <!-- Arnelle Nonon Begin-->
    <div class="row"><!-- Video Row -->
      <div class="row-height">
        <div class="col-xs-12" id="past-contestants">
          <h2>Check Out Our 1st Ever Grand Prize Winner Arnelle Nonon!</h2>
        </div>
      </div>
    </div>

    <div class="row win-vid"> 
      <div class="row-height">         
        <div class="col-md-6 col-height"> 
          <div class="inside">   
            <div class="embed-responsive embed-responsive-16by9 ">
              <iframe width="673" height="379" src="https://www.youtube.com/embed/HmY889baFkY" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>  
        </div>  
        <div class="col-md-4 col-height">
          <div class="inside">
            <div class="content">
              <a href="/assets/images/finalLyricsC4/Fuel_SFW.png"  data-lightbox="lyrics" data-title="Fuel by Daria Hunter" class="winner-lyric"><img src="/assets/images/finalLyricsC4/Fuel_SFW.png" class="img-thumbnails" alt="CoverTheseLyrics Lyric 'Fuel' by Daria Hunter">
              </a>
            </div>  
          </div>    
        </div>
      </div>  
    </div>
  </div> <!-- Arnelle Nonon End -->

    <div class="container"> <!-- Ben Iuliano Begin-->
    <div class="row"><!-- Video Row -->
      <div class="row-height">
        <div class="col-xs-12" id="past-contestants">
          <h2>Our 1st Ever Ingenuity Award Winner Ben Iuliano!</h2>
        </div>
      </div>
    </div>

    <div class="row win-vid"> 
      <div class="row-height">         
        <div class="col-md-6 col-height"> 
          <div class="inside">   
            <div class="embed-responsive embed-responsive-16by9 ">
              <iframe width="673" height="379" src="https://www.youtube.com/embed/QFBV889hGNk" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>  
        </div>  
        <div class="col-md-4 col-height">
          <div class="inside">
            <div class="content">
              <a href="/assets/images/finalLyricsC4/Bitterly_Human_sensored_SFW.png"  data-lightbox="lyrics" data-title="Bitterly Human by Daria Hunter" class="winner-lyric"><img src="/assets/images/finalLyricsC4/Bitterly_Human_sensored_SFW.png" class="img-thumbnails" alt="CoverTheseLyrics Lyric 'Bitterly Human' by Daria Hunter">
              </a>
            </div>  
          </div>    
        </div>
      </div>  
    </div>
  </div>  <!-- Ben Iuliano End-->

</div><!-- 1st Contest Container End -->

