/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
      .videobox{
      padding-left: 77px;
      padding-top: 30px;
/*      border-style: solid;
      border-color: purple;
      border-width:2px;*/
      }

      iframe{
        width:400px;
        height:300px;
      }

      span.vote-btn{
        margin-left: 133px;
      }
    }    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 620px) {
      .videobox{
      padding-left: 50px;
      padding-top: 30px;
/*      border-style: solid;
      border-color: yellow;
      border-width:2px;*/
      }

      iframe{
        width:450px;
        height:300px;
      }

      span.vote-btn{
        margin-left: 133px;
      }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
      .videobox{
      padding-left: 15px;
      padding-top: 30px;
/*      border-style: solid;
      border-color: brown;
      border-width:2px;*/
      }

      iframe{
        width:350px;
        height:300px;
      }

      span.vote-btn{
        margin-left: 133px;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      .videobox{
      padding-right:100px;
      padding-top: 30px;
/*      border-style: solid;
      border-color: gray;
      border-width:2px;*/
      }

      iframe{
        width:500px;
      }

      span.vote-btn{
        margin-left: 132px;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      .videobox{
      padding-left: 39px;
      padding-right:100px;
      padding-top: 30px;
/*      border-style: solid;
      border-color: green;
      border-width:2px;*/
      }

      iframe{
        width:500px;
      }

      span.vote-btn{
        margin-left: 132px;
      }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
      .videobox{
      padding-left: 63px;
      padding-right:100px;
      padding-top: 30px;
/*      border-style: solid;
      border-color: purple;
      border-width:2px;*/
      }
      iframe{
        width:450px;
      }

      span.vote-btn{
        margin-left: 157px;
      }
    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
      .videobox{
      padding-left: 39px;
      padding-right:100px;
      padding-top: 30px;
/*      border-style: solid;
      border-color: white;
      border-width:2px;*/
      }

      iframe{
        width:400px;
      }

      span.vote-btn{
        align-content: center;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      .videobox{
      padding-left: 93px;
      padding-right:100px;
      padding-top: 30px;
/*      border-style: solid;
      border-color: red;
      border-width:2px;*/
      }

      iframe{
        width:550px;
        height:425px;
      }

      span.vote-btn{
        margin-left: 208px;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      .videobox{
/*    width:100%;
      margin: 0 auto;*/
/*    align-content: center;*/
      padding-left: 65px;
      padding-top: 30px;
/*    border-style: solid;
      border-color: purple;
      border-width:2px;*/
      }

      iframe{
/*        margin: 0 auto;*/
        width:575px;
        height:325px;
      }

      span.vote-btn{
        margin-left: 220px;
      }
    }

            /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 620px) {
      .videobox{
      padding-left: 50px;
      padding-top: 30px;
/*      border-style: solid;
      border-color: purple;
      border-width:2px;*/
      }

      iframe{
        width:450px;
        height:300px;
      }

      span.vote-btn{
        margin-left: 133px;
      }
    }


            /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 648px) {
      .videobox{
      padding-left: 77px;
      padding-top: 30px;
/*      border-style: solid;
      border-color: blue;
      border-width:2px;*/
      }

      iframe{
        width:400px;
        height:300px;
      }

      span.vote-btn{
        margin-left: 133px;
      }
    }

        /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 625px) {
      .videobox{
      padding-left: 30px;
      padding-top: 30px;
/*      border-style: solid;
      border-color: yellow;
      border-width:2px;*/
      }

      iframe{
        width:400px;
        height:300px;
      }

      span.vote-btn{
        margin-left: 133px;
      }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
      .videobox{
      padding-left: 16px;
      padding-top: 30px;
/*      border-style: solid;
      border-color: blue;
      border-width:2px;*/
      }

      iframe{
        width:380px;
        height:300px;
      }

      span.vote-btn{
        margin-left: 122px;
      }
    }

        /* Extra Small Devices, Phones */ 
    @media (min-width : 445px) and (max-width:479px) {
      .videobox{
      padding-left: 8px;
      padding-top: 30px;
/*      border-style: solid;
      border-color: purple;
      border-width:2px;*/
      }

      iframe{
        width:400px;
        height:300px;
      }

      span.vote-btn{
        margin-left: 133px;
      }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
      .videobox{
      padding-left: 6px;
      padding-top: 30px;
/*      border-style: solid;
      border-color: yellow;
      border-width:2px;*/
      }

      iframe{
        width:350px;
        height:250px;
      }

      span.vote-btn{
        margin-left: 133px;
      }
    }
