/*****Head Wrapper Beginning****/
@media screen
and (min-width:  768px)
and (max-width : 999px)
{

  body{
    font-size: 90%;
  }

  #title_wrapper {
    padding-left: 185px;
  }
}

@media screen
and (min-width:  651px)
and (max-width : 767px)
{
  body{
    font-size: 85%;
  }

  #title_wrapper {
    padding-left: 130px;
    position:relative;
    top: -45px;
  }
}

@media screen
and (min-width:  411px)
and (max-width : 650px)
{

  body{
    font-size: 70%;
  }

  #title_wrapper {
    padding-left: 130px;
    top: -20px;
  }
}

@media screen
and (min-width : 410px)
and (max-width : 559px) 
{
  body{
    font-size: 65%;
    }

  #title_wrapper {
    position: relative;
    top: 1px;
    height: 150px;
    /*margin-left: 500px;*/
    padding-left: 30px;
    }
  }

@media screen
and (min-width : 150px)
and (max-width : 409px) 
{

  body{
    font-size: 60%;
    }

  #title_wrapper {
    position: relative;
    top: 1px;
    height: 130px;
    /*margin-left: 500px;*/
    padding-left: 10px;
    }
  }


  /**** Head Wrapper End ****/

/*1st paragraph index page*/
/*@media screen
and (min-width : 1201px){
  .about-h2, #page-content{
    font-size: 100%;
  }
}*/
/******CTL Main Title********/
@media screen  
and (min-width:  1000px)
and (max-width : 1200px) 
 {
  #title-words1 {
    font-size: 60pt;
    /*background-color: orange;*/

  }
  /*1st paragraph index page*/
  .about-h2, /*#page-content*/{
    font-size: 95%;
  }
}

@media screen  
and (min-width:  850px)
and (max-width : 999px) 
 {
  #title-words1 {
    font-size: 50pt;
    /*background-color: teal;*/
  }
  /*1st paragraph index page*/
  .about-h2, .page-content{
    font-size: 90%;
  }
}

@media screen  
and (min-width:  650px)
and (max-width : 849px)
 {
  #title-words1 {
    font-size: 40pt;
    /*background-color: black;*/
    position:relative;
    top: 8px;
  }
  /*1st paragraph index page*/
  .about-h2, .page-content{
    font-size: 85%;
  }
}

@media screen  
and (min-width:  560px)
and (max-width : 649px) 
 {
  #title-words1 {
    font-size: 35pt;
    /*background-color: blue;*/
    /*color: #fefefe;*/
  }
  /*1st paragraph index page*/
  .about-h2, .page-content{
    font-size: 80%;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media screen
and (min-width : 410px)
and (max-width : 559px) 
 	{
 		#title-words1 {
		font-size: 30pt;
	    /*background-color: red;*/
	    /*color:purple;*/
     /* position: absolute;
      top: 20%;*/
 		}
    /*1st paragraph index page*/
    .about-h2, .page-content {
    font-size: 75%;
    }
	}

  @media screen
and (min-width : 150px)
and (max-width : 409px) 
  {
    #title-words1 {
    font-size: 20pt;
      /*background-color: cyan;*/
      /*color:purple;*/
      /*position: relative;
      top: 20%;*/
    }
    /*1st paragraph index page*/
    .about-h2, .page-content{
    font-size: 65%;
   }
  }


/* Smartphones (landscape) ----------- */
/********* main title end**************/
/****** subtitle beginning **********/

@media screen  
and (min-width:  830px)
and (max-width : 999px) 
 {
  #title-words2 {
    font-size: 15pt;
    /*background-color: teal;*/
  }
}

@media screen  
and (min-width:  650px) 
and (max-width : 829px)
 {
  #title-words2 {
    font-size: 12pt;
    /*background-color: black;*/
  }
}

@media screen  
and (min-width:  560px)
and (max-width : 649px) 
 {
  #title-words2 {
    font-size: 10pt;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media screen
and (min-width : 220px)
and (max-width : 559px) 
  {
    #title-words2 {
    font-size: 7.5pt;
      
    }
    
  }

/********subtitle end ***************/


/****** Nav Bar Beginning ********/
/*grid-float-breakpoint*/
@media screen;  
and (min-width:  540px) 
and (max-width : 950px)
 {
  #ctl-top-nav {
    
  }
}

/****** Nav Bar End      *********/

/**************** Header End **********************/

@media screen  
and (min-width:  1000px)
and (max-width : 1200px) 
 {
  #navi, #navi2, #navi3, #navi4, #navi5, #navi6, #navi7, #navi8, #navi9  {
    font-size: 85%;
    margin-left: -2%;
  }
}

@media screen  
and (min-width:  820px)
and (max-width : 999px)  
 {
  #navi, #navi2, #navi3, #navi4, #navi5,#navi6, #navi7, #navi8, #navi9 {
    font-size: 75%;
    margin-left: -2%;
  }
}

@media screen  
and (min-width:  650px) 
and (max-width : 819px)
 {
 #navi, #navi2, #navi3, #navi4, #navi5,#navi6, #navi7, #navi8, #navi9 {
    font-size: 65%;
/*    margin-left: -3%;*/
  }
}

@media screen  
and (min-width:  560px)
and (max-width : 649px) 
 {
  #navi, #navi2, #navi3, #navi4, #navi5, #navi6, #navi7, #navi8, #navi9 {
    font-size: 90%;
  }
}

/* Smartphones (portrait and landscape) ----------- */
/*@media screen
and (min-width : 220px)
and (max-width : 459px) 
{
	#ctl-top-nav
	 {
display: flex;
	}
}*/

/****** Logo Begin ******/
@media screen  
and (min-width:  768px)
and (max-width : 999px)
 {
  .logo {
    font-size: 85%;
    width: 150px; 
  }
}

@media screen  
and (min-width:  540px) 
and (max-width : 767px)
 {
  .logo {
    font-size: 175px;
    width: 100px;
  }
}

@media screen  
and (min-width:  460px)
and (max-width : 539px) 
 {
  .logo {
    font-size: 55%;
    width: 100px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media screen
and (min-width : 220px)
and (max-width : 459px) 
{
	.logo {
font-size: 25%;
width: 75px;
	}
}

/********Logo End *******/
@media screen {
  #body-container,  #nav-wrapper {
    max-width: auto;
    margin: 0 auto;
  }
}

/***** footer begin **********/
@media screen  
and (min-width:  250px)
and (max-width : 999px) 
 {
   .footer {
    margin: auto;
    text-align: center
    max-width: 100%;
  }
}
/******* footer end ********/

/*******Responsive Clock Begin**********/
@media screen  
and (min-width:  850px)
and (max-width : 999px) 
 {
  #del-countdown {
    width: 80%;
    margin: auto;
    font-size: 80%;
  }

   #clock span {
    font-size: 60px;
   }

   .timer-h2 {
    font-size: 25px !important;
   }

   #units > span {
    font-size: 85%;
   }
}

@media screen  
and (min-width:  650px) 
and (max-width : 849px)
 {
  #del-countdown {
    width: 80%;
    margin: auto;
    font-size: 80%;
  }

   #clock span {
    font-size: 50px;
   }

   .timer-h2 {
    font-size: 19px !important;
   }

    #units > span {
    font-size: 80%;
   }
}


@media screen  
and (min-width:  560px)
and (max-width : 649px) 
 {
  #del-countdown {
    width: 80%;
    margin: auto;
    font-size: 80%;
  }

   #clock span {
    font-size: 50px;
   }

   .timer-h2 {
    font-size: 15px !important;
   }

    #units > span {
    font-size: 80%;
   }
}

@media screen
and (min-width : 410px)
and (max-width : 559px)
{
  #del-countdown {
    width: 80%;
    margin: auto;
    font-size: 80%;
  }

   #clock span {
    font-size: 35px;
   }

   .timer-h2 {
    font-size: 12px !important;
   }

    #units > span {
    font-size: 80%;
   }
}

@media screen
and (max-width : 409px) 
{
  #del-countdown {
    width: 80%;
    margin: auto;
    font-size: 80%;
  }

   #clock span {
    font-size: 15px;
    border-radius: 20%;
    padding: 10px;
   }

   .timer-h2 {
    font-size: 10px;
   }

    #units > span {
    font-size: 80%;
   }
}
/*******Responsive Clock End**********/
/*----------Body Container--------*/
/*@media screen {
  #body-container, #nav-wrapper {
    max-width: 1366px;
  }
}*/
/*---------Body Container End------*/

/*---------Carousel Beginning------*/
@media screen  
and (min-width:  850px)
and (max-width : 1050px) 
 {
  .carousel-caption-title, 
  .carousel-caption-words  {
    font-size: 90%;
    /*background-color: orange;*/

  }
}


@media screen  
and (min-width:  560px)
and (max-width : 849px)
 {
  .carousel-caption-title, 
  .carousel-caption-words  {
    font-size: 70%;
    /*background-color: black;*/
  }
}



/* Smartphones (portrait and landscape) ----------- */
@media screen
and (min-width : 410px)
and (max-width : 559px) 
  {
    .carousel-caption-title, 
    .carousel-caption-words  {
    font-size: 65%;
    position: inherit;
    text-align: center;
      /*background-color: red;*/
      /*color:purple;*/
     /* position: absolute;
      top: 20%;*/
    }
  }

  @media screen
and (min-width : 50px)
and (max-width : 409px) 
  {
    .carousel-caption-title, 
    .carousel-caption-words  {
    font-size: 50%;
    position: inherit;
    text-align: center;
    }
  }

  /*---------Carasouel Beginning------*/

  /*--------Nav Bar Collapse Begin---------*/
  @media (max-width: 1150px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
  /*---------Nav Bar Collapse End-------*/
  /*-------Winners Cirlce------------*/
  
@media screen
and (max-width: 992px;) {
  .row.win-vid{
    position: relative;
    left: 16%;
  }
}
  
  /*---------------------------------*/