/* Small devices (tablets, 768px and up) */
/*@media (min-width: @screen-sm-min) { ... }
*/
/* Medium devices (desktops, 992px and up) */
/*@media (min-width: @screen-md-min) { 

      .videobox{
      padding-left: 50px;
      padding-right:100px;
      padding-top: 30px;
      border-style: solid;
      border-color: orange;
      border-width:2px;
      }
      iframe{
        width:400px;
      }

}*/

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: @screen-lg-min) { ... }*/




/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
/*    @media only screen and (min-width : 320px) {
        
    }*/

    /* Extra Small Devices, Phones */ 
/*    @media only screen and (min-width : 480px) {

    }*/

    /* Small Devices, Tablets */
/*    @media only screen and (min-width : 768px) {

    }*/

    /* Medium Devices, Desktops */
/*    @media only screen and (min-width : 992px) {

    }*/

    /* Large Devices, Wide Screens */
/*    @media only screen and (min-width : 1200px) {

    }*/



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
      .videobox{
/*      padding-left: 50px;*/
      padding-right:100px;
      padding-top: 30px;
      border-style: solid;
      border-color: orange;
      border-width:2px;
      }
      iframe{
        width:400px;
      }

    }

    /* Medium Devices, Desktops */
/*    @media only screen and (max-width : 992px) {
      .videobox{
      padding-left: 15px;
      padding-right:100px;
      padding-top: 30px;
      border-style: solid;
      border-color: red;
      border-width:2px;
      }
    }*/

    /* Small Devices, Tablets */
/*    @media only screen and (max-width : 768px) {
      .videobox{
      padding-left: 15px;
      padding-right:100px;
      padding-top: 30px;
      border-style: solid;
      border-color: purple;
      border-width:2px;
      }
    }*/

    /* Extra Small Devices, Phones */ 
/*    @media only screen and (max-width : 480px) {
      .videobox{
      padding-left: 15px;
      padding-right:100px;
      padding-top: 30px;
      border-style: solid;
      border-color: yellow;
      border-width:2px;
      }
    }*/

    /* Custom, iPhone Retina */ 
/*    @media only screen and (max-width : 320px) {
      .videobox{
      padding-left: 15px;
      padding-right:100px;
      padding-top: 30px;
      border-style: solid;
      border-color: aqua;
      border-width:2px;
      }
    }*/


/*@media screen 
and (min-width: 350px)
and (max-width : 400px) 
{
      .videobox{
      padding-left: 5px;
      padding-top: 10px;
      }

      iframe{
        width:375px;
      }
}

@media screen 
and (min-width: 516px)
and (max-width : 575px) 
{
      .videobox{
      padding-left: 50px;
      padding-top: 10px;
      }

      iframe{
        width:375px;
      }
}*/

/*@media screen 
and (min-width: 850px)

{
      .videobox{
      padding-left: 50px;
      padding-top: 15px;
      }

      iframe{
        width:375px;
      }
}*/

/*@media screen and (max-width: 1000px) {
      .videobox{
      padding-left: 15px;
      padding-right:100px;
      padding-top: 30px;
      border-style: solid;
      border-color: orange;
      border-width:2px;
      }

      .videos{
        width:375px;
        
      }
}*/