/**************Main Page**********************/

  /*Body Styles*/
body{
  /*background-color:#2d2d2d;*/
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Hind Guntur', sans-serif;
}

/*Nav Styles*/
#ctl-top-nav {
  /*background-color: #2d2d2d;*/
  /*height: 100px;*/
  border-radius: 0px;
  border-width: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  /*background-color: transparent;*/
}

/*.grey {
  background: #2d2d2d;
}*/


.logo {
  width: 200px;
}

#navi,
#navi2,
#navi3,
#navi4,
#navi5 {
  color: #fff;
  padding-top: 50px;
  font-size: 15pt;
}

#navi {
  /*margin-left: 90px;*/
}

.navbar-collapse.collapse.in {
  background-color: black;
}


/*Hover color of Navigation Links*/

#navi:hover,
#navi2:hover,
#navi3:hover,
#navi4:hover,
#navi5:hover {
  color: #F4010F;
}


/*An Active Depressed click on Navigation Links*/

#navi:active,
#navi2:active,
#navi3:active,
#navi4:active,
#navi5:active {
  color: #1F4667;
}


#ctl-top-nav {
  background-color: transparent;
}
/* nav style end */

/*Body Styles*/

#body-container {
  /*background-image: url("../images/concentricRings_SFW.png");*/
  background-image: url("../images/coloredPaperGrn_SFW.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 0px;
  /*      padding-bottom: 100px;*/
  color: #fff;
  /*      background-size: cover;*/
  padding-bottom: 20px;
}


/* countdown */

body {
   background: #2d2d2d;
}

.timer-h2 {
  color: #fff;
  text-align: center;
  font-size: 35px;
  letter-spacing: 10px;
}

#del-countdown {
  width: 690px;
  margin: 5% auto;
  font-family: tahoma;
}

#clock span {
  float: left;
  text-align: center;
  font-size: 84px;
  margin: 0 2.5%;
  color: #fff;
  padding: 20px;
  width: 20%;
  border-radius: 20px;
  box-sizing: border-box;
}

#clock span:nth-child(1) {
  background: #061018;
}

#clock span:nth-child(2) {
  background: #8A9B9B;
}

#clock span:nth-child(3) {
  background: #061018;
}

#clock span:nth-child(4) {
  background: #8A9B9B;
}

#clock:after {
  content: "";
  display: block;
  clear: both;
}

#units span {
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 30px;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.7);
}

span.turn {
  animation: turn 0.7s ease forwards;
}

@keyframes turn {
  0% {
    transform: rotateX(0deg)
  }
  100% {
    transform: rotateX(360deg)
  }
}

/* countdown */



  
  

  /*Footer Styles*/
    .footer{
      margin-bottom: 0px;
      background-color:#2d2d2d;
      margin-left:360px;
    }

/***********  Title *********************/
   #main-title{
    float: left;
    position: relative;
    left: 7%;
    font-weight: bold;
   }

   #subtitle {
    float: left;
    position: relative;
    left: 7%;
   }

    .header-title {
      width: 100%;
      color: #fff;
      font-family: Georgia;
      /*font-weight: bold;*/
      display: inline-block;
      text-align: center;
      margin: auto 0;
      /*opacity: 0.2;*/
      background-position: center;
    }

    .header-title {
      position: relative;
      top: 3%;
      position: relative;
      top: -50px;
    }

    #main-title,
    #subtitle{
      display: inline-block;
      text-align: left;
    }
    #nav-wrapper {
      background-color: #2d2d2d;
      background-image: url('../images/logo/wavy-score.png');
     /* background-image: url('../images/logo/wavy-score-mod.svg');*/
       background-position:0 15%;
      background-size: 100% 80%;
      background-repeat: no-repeat;
      /*max-height: 400px;*/      
    }

    #title-words1 {
      font-size: 75pt;
      font-weight: bold;
    }

/*************** End Title *********************/


/****************End Main Page****************/


/****************Index Page****************/

/*.headers {
  text-align: center;
  font-size: 50pt;
}*/


#carousel_image_container {
  margin-top: 40px;
  background-color: #2d2d2d;
  padding: 0px;
  margin-bottom: 30px;
  width: 100%;
}

.slider-images {
  width: 100%;
}

#about {
  margin-top: 20px;
  font-size: 35px;
  text-align: center;
  background-color: rgba(45, 45, 45, 0.7);
  width: 85%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 10px;
}


}
#contest-submission {
  padding-top: 140px;
  text-align: center;
  font-size: 30px;
}
#past-winners {
  padding-top: 15px;
  margin-left: 395px;
  font-size: 75px;
}
#videos {
  margin-top: 20px;
  padding-bottom: 20px;
  align-content: center;
}

.lyric_images {
  width: 400px;
}
/****************End Lyrics Page****************/

/****************End Index page****************/

/**************Lyrics Page**********************/
#lyrics-container {
  /*  text-align: center;*/
  
  margin-bottom: 20px;
  /*  height:600px;*/
}

/****************End Lyrics Page****************/

/***********Submit Page**************/

/*Submit Form on Submit Your YouTube Video*/
#submit-youtube {
  color: #000;
  padding-top: 20px;
  padding-bottom: 5px;
}

/*************Submit page End******************/

/**************Vote Page**********************/
.vote-btn{
  margin-top:15px;
  margin-bottom:45px;
  margin-left: 109px;
}

.vote-title {
  text-align: center;
  font-size: 45pt;
  padding-top: 20px;
}

#vote-page-container {
  background-color: rgba(45, 45, 45, 0.6);
  padding: 0px 20px;
  border-color: pink;
  border-style: solid;
  border-width: 2px;
}

/****************End Vote Page****************/

/**************Prizes Page**********************/
#first-row {
  font-size: 50pt;
  text-align: center;
}
#img2 {
  width: 323px;
  height: 283px;
}

/****************End Prizes Page****************/


/**************Media Queries**********************/
/*@media (min-width: 600px) and (max-width: 800px) 
  { 
    .nav {
      margin-left: 5px;
      color:orange;
    }
    .nav-links{
      margin-left: 5px;
    }

  }*/

/****************End Media Queries****************/

#title-words1, #title-word2 {
  text-align: center;
  color: white;
}