/**************Main Page**********************/

  /*Body Styles*/
body{
  /*background-color:#2d2d2d;*/
  font-family: 'Arial', sans-serif;
  /*font-size: 100%;*/
  background: #2d2d2d;
  margin: auto;
  overflow-x: hidden;
}

/*--Makes Mobile Navbar push title down*/
div#mainnavbar.navbar-collapse.collapse.in {
  margin-bottom: 56px;
}
/*-------------------------------------*/

/*Nav Styles*/
#ctl-top-nav {
  /*background-color: #2d2d2d;*/
  /*height: 100px;*/
  border-radius: 0px;
  border-width: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: transparent;
}

.logo {
  width: 200px;
}

#navi,
#navi2,
#navi3,
#navi4,
#navi5, 
#navi6, 
#navi7, 
#navi8, 
#navi9 {
  color: #fff;
/*  padding-top: 50px;*/
  font-size: 10pt;
}

#navi {
  /*margin-left: 90px;*/
}

.navbar-collapse.collapse.in {
  background-color: black;
}


/*Hover color of Navigation Links*/

#navi:hover,
#navi2:hover,
#navi3:hover,
#navi4:hover,
#navi5:hover,
#navi6:hover,
#navi7:hover,
#navi8:hover,
#navi9:hover {
  color: #F4010F;
}


/*An Active Depressed click on Navigation Links*/

#navi:active,
#navi2:active,
#navi3:active,
#navi4:active,
#navi5:active,
#navi6:active,
#navi7:active,
#navi8:active,
#navi9:active {
  color: #1F4667;
}


/*Body Styles*/

#body-container {
  /*background-image: url("../images/concentricRings_SFW.png");*/
  /*background-image: url("../images/coloredPaperGrn_SFW.png");*/
  background-image: url("../images/blue_textures_SFW.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 0px;
  /*      padding-bottom: 100px;*/
  color: #fff;
  /*      background-size: cover;*/
  padding-bottom: 20px;
}


/* countdown **begin */

.timer-h2 {
  color: #fff;
  text-align: center;
  font-size: 35px;
  letter-spacing: 10px;
  font-family: georgia !important;
}

#del-countdown {
  width: 690px;
  margin: 5% auto;
  font-family: tahoma;
  background-color: rgba(45, 45, 45, 0.7);
  padding: 10px;
}

#clock span {
  float: left;
  text-align: center;
  font-size: 84px;
  margin: 0 2.5%;
  color: #fff;
  padding: 20px;
  width: 20%;
  border-radius: 20px;
  box-sizing: border-box;
}

#clock span:nth-child(1) {
  background: #061018;
  font-family: tahoma;
}

#clock span:nth-child(2) {
  background: #8A9B9B;
}

#clock span:nth-child(3) {
  background: #061018;
}

#clock span:nth-child(4) {
  background: #8A9B9B;
}

#clock:after {
  content: "";
  display: block;
  clear: both;
}

#units span {
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 30px;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.7);
}

span.turn {
  animation: turn 0.7s ease forwards;
}

@keyframes turn {
  0% {
    transform: rotateX(0deg)
  }
  100% {
    transform: rotateX(360deg)
  }
}

/* countdown **end */

/*Footer Styles*/
  /*.footer {
    margin-bottom: 0px;
    background-color: #2d2d2d;
    border-color: #2d2d2d;
    color: #fff;
    margin-left:360px;
    position: absolute;
    bottom: 7px;
    width: 100%;
  }*/

  .nav-list {
    margin: auto;
    text-align: center;
    position: absolute;
    left: 20%;
  }

  /*.nav>li {
    display: inline-block;
  }*/

  .nav_footer {
    background-color: #2d2d2d;
    border-color: #2d2d2d;
    color: #fff;
    /*position: absolute;*/
    margin-bottom: -25px;
    /*margin: auto 0;*/
  }

  .navbar-default .navbar-nav>li>a {
    color: #fff;
    display: inline-block;
   }

   .navbar-default .navbar-nav>li>a:hover {
    color: #F4010F;
   } 

/***********  Title *********************/

    #nav-wrapper {
      background-color: #2d2d2d;
      /*background-image: url('../images/logo/wavy-score-mod.png');*/
      /*background-image: url('../images/logo/wavy-score-mod.svg');*/
       background-position:0 15%;
      background-size: 100% 80%;
      background-repeat: no-repeat;
      /*max-height: 400px;*/      
    }


    #title_wrapper {
      /*position: absolute;*/
      position: relative;
      /*left: 17.5%;*/
      /* top: -50px;*/
      top: -80px;
      padding-left: 237px;
    }


    #title-words1,
    #title-words2 {
      /*text-align: left;*/
      color: #fff;
      display: block;
    }

     #title-words1 {
      font-size: 75pt;
      font-weight: bold;
      font-family: Georgia;
      text-align: left;
      margin-left: -0.7%;
    }

    #title-words2 {
      margin-left: -0.59%;
      font-size: 25pt;
    }

    /**-----registered trademark------**/
    .reg-tm {
      font-size: 40%;
      position: absolute;
      top: 8%;
    }

    /**-----registered trademark end--**/
/*************** End Title *********************/


/****************End Main Page****************/


/****************Index Page****************/

/*.headers {
  text-align: center;
  font-size: 50pt;
}*/


#carousel_image_container {
  margin-top: 40px;
  background-color: #2d2d2d;
  padding: 0px;
  margin-bottom: 30px;
  width: 100%;
}


.slider-images {
  width: 100%;
}

#about {
  margin-top: 20px;
  /*font-size: 35px;*/
  text-align: center;
  background-color: rgba(45, 45, 45, 0.7);
  /*width: 85%; */
  margin: 0 auto;
  padding: 20px;
  padding-top: 10px;
  /*max-width: 1000px;*/
}

#contest-submission {
  padding-top: 80px;
  text-align: center;
  font-size: 30pt;
  /*margin: auto;*/
  position: relative;
  top: -65px;
}
#past-winners {
  padding-top: 15px;
  margin-bottom: -69px;
}
#past-winners h2{
  font-size: 36pt;
  text-align: center;
/*  margin-left: -53px;*/
}
#videos {
  margin-top: 20px;
  padding-bottom: 20px;
/*  padding-left: 20px;*/
/*  align-content: center;*/
  /*margin: auto;*/
}

.lyric_images {
  width: 400px;
}

.gallery {
  background-color: rgba(45, 45, 45, 0.7);
  padding-right: 55px;
  border-radius: 7px;
}

.carousel-caption{
  top: 50%;
}

.carousel-caption-title {
  font-size: 3.5rem;
}

.carousel-caption-words{
  font-size: 1.5rem;
}

.carousel-caption-title, 
.carousel-caption-words {
  text-shadow: 2px 2px #000;
}

#past-winners {
  position: relative;
  top: -65px;
}

.owner {
  font-size: 7px;
  text-align: left;
  display: inline-block;
  position: relative;
  left: 20px;
  bottom: -21px;
}

.owner:hover {
  font-size: 12px;
  background-color: #2d2d2d;
  padding: 10px 10px -1px 10px;
  border-radius: 3px 3px 0 0;
}

.video-div {
  margin: 5px;
}



/****************End Index page****************/

/**************Lyrics Page**********************/
#lyrics-container {
  /*  text-align: center;*/
  
  margin-bottom: 20px;
  /*  height:600px;*/
}

.pdf-span {
  margin-left: 9%;
  position: relative;
  /*left: 5%;*/
  display: inline-block;
  margin-top: -15%;
  margin-bottom: 15%;
}
}

/*.lyric-div {S
  
  }*/

/****************End Lyrics Page****************/

/***********Submit Page**************/

/*Submit Form on Submit Your YouTube Video*/

#submit-youtube {
  padding-top: 20px;
  padding-bottom: 5px;
}

.submitPanel {
    margin-bottom: 20px;
    color:black;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin-top: 40px;
}

/*************Submit page End******************/

/**************Vote Page**********************/

.votesmallbackground{
background-color: rgba(5, 131, 239, 0.42);
}

#vote-title {
  text-align: center;
  font-size: 45pt;
  padding-top: 20px;
}

#vote-page-container {
  background-color: rgba(45, 45, 45, 0.6);
  padding: 20px;
  margin:0, auto;
}

#votePanel{
  background-color: rgba(45, 45, 45, 0.6);
  position:fixed;
  bottom: 30px;
  left: 20px;
  border: black;
  font-size: 14pt;
  font-family: 'Arial', sans-serif;
  padding: 5px;
}

#badgestyle{
  font-size: 12pt;
  background-color: rgba(5, 131, 239, 0.42); 
  /*border-radius: 0px !important; */
}

.modal-footer{
 border: none;
}

.modal-header{
 border: none;
}

.votewidth{
  width: 100%
}

.modal-content  {
  padding: 20px 40px;
  text-align: center;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important; 
}

#myModal{
 font-family: Arial, "Helvetica CY", "Nimbus Sans L",sans-serif !important;
  font-size: 15px;
  color: black;
}

.modalconfirm{
 background: #81c784;
 border: none;
 border-radius:0;
 padding: 15px 45px;
}

/****************End Vote Page****************/

/**************Prizes Page**********************/
#first-row {
  font-size: 50pt;
  text-align: center;
}
#img2 {
  width: 323px;
  height: 283px;
}

/****************End Prizes Page****************/



/**************Media Queries**********************/
/*@media (min-width: 600px) and (max-width: 800px) 
  { 
      iframe {
        width:100px;
        height:100px;
      }
  }*/

/*Media Queries*/
/*@media(min-width:600px) and (max-width:749px){
  #first-link { margin-left:55px; }
  #second-link{ margin-left: 95px; }
  #third-link{ margin-left: 95px; }
  #first-link, #second-link,
   #third-link{
  font-size: 20px;}
  #welcomeHeader{font-size: 90px;})
}*/

/* Portrait and Landscape */




/****************End Media Queries****************/

/*#title-words1, #title-word2 {
  text-align: center;
  color: white;
}
.main_content {
  margin: auto;

}*/

/*----------Legal Pages Beging------------*/
.legal-container {
  max-width: 800px;
  margin: 0  auto;
  background-color: #fff;
  padding: 2%;
  font-family: "Ariel";
}

/*----------Legal Pages End---------------*/

/*------------Universal-------------------*/
.page-content {
  font-family: "Ariel";
  font-size: 2.6rem;
  text-align: left;
}

/*.about-h2 {
  
}*/
/*------------Universal End------------------*/
/*------------Our Ballad Begin------------------*/
.statement-container{
  background-color: rgba(45, 45, 45, 0.7);
  margin-bottom: 40px;
}

.ballad-statement {
  font-size: 15pt;
  margin-bottom: 30px;
}

.ballad-statement > strong{
  font-size: 18pt;
}

#h2-ballad{
  text-align: left;
  font-size: 35pt;
  margin-bottom: 40px;
}

.spacing-div {
  margin-bottom: 40px;
  visibility: hidden;
}
/*------------Our Ballad End------------------*/
/*------------Contact Us beginning------------------*/
#contact-us-form {
  background-color: rgba(45, 45, 45, 0.7);
}

textarea {
  min-height: 250px;
}

.ques-or-in{
  font-size: 35pt;
  padding-bottom: 20px;
  margin-left: 8px;
}

/*------------Contact Us End------------------*/
/*------------ View Your Favorite Beginning ------------------*/
.contest_container {
  background-color: rgba(45, 45, 45, 0.7);
  margin-top: 60px;
}

/*------------- View Your Favorite End ------------------*/
/*------------- Winners Cirlce Beginning ------------------*/
.img-thumbnails{
  max-height: 312px;
  /*position: relative;
  top: -28px;*/
}

.win_cntst_container {
  background-color: rgba(45, 45, 45, 0.7);
  margin-top: 60px;
  padding: 20px 0;
}

/*#past-contestants {
margin-left: -18.6%;
}*/

/*.win-vid {
  margin: auto;
}*/

/*-----Winner's Table----*/
#winners-table {
  font-size: 140%;
}



/*--Winner's Table end*/
/*------------- Winners Cirlce End ------------------*/

/*--------------Contact Us Page----------------------*/
.contact-ol{
  font-size: 30px;
  font-size: 1.5vw;
}
/*--------------Contact Us Page-----------------------*/

/*--------------Form Submit Page-----------------------*/
.this-required {
  color: red;
  font-size: 15px;
}

/*<span class="this-required">*</span>*/

/*.this-required:after {
  content:" *";
}*/
/*--------------Form Submit Page-----------------------*/

