/**************Main Page**********************/

  /*Body Styles*/
    body{
      background-color:#2d2d2d;
      font-family: Arial, Helvetica, sans-serif;
    }

  /*Nav Styles*/
    #ctl-top-nav {
      background-color: #2d2d2d;
      height: 100px;
      border-radius: 0px;
      border-width: 0px;
      margin-bottom: 0px;
      margin-left: -90px;
    }

    .logo {
      width: 150px;
    }

    #navi, #navi2, #navi3, #navi4, #navi5{
      color: #fff;
      padding-top:50px;
      font-size: 15pt;
    }

    #navi{
      margin-left: 90px;
    }

  /*Hover color of Navigation Links*/  
    #navi:hover, #navi2:hover, #navi3:hover, #navi4:hover, #navi5:hover {
      color: #F4010F;
    }

  /*An Active Depressed click on Navigation Links*/
  #navi:active, #navi2:active, #navi3:active, #navi4:active, #navi5:active {
    color: #1F4667;
  }

  /*Body Styles*/
    #body-container {
      /*background-image: url("../images/concentricRings_SFW.png");*/
      background-image: url("../images/coloredPaperGrn_SFW.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin-top: 0px;
      color:#fff;
/*      background-size: cover;*/
    }

  /*Footer Styles*/
    .footer{
      margin-bottom: 0px;
      background-color:#2d2d2d;
      margin-left:360px;
    }

/***********  Title *********************/
   #main-title{
    font-size: 75pt;
   }

   #subtitle {
   font-size: 30pt;
   }

    .header-title {
      background-color: #2d2d2d;
      width: 100%;
      color: #fff;
      font-family: Georgia;
      font-weight: bold;
    }
/*************** End Title *********************/
/****************End Main Page****************/


/****************Index Page****************/

    .headers{
      text-align: center;
      font-size: 50pt;
    }  


    #carousel_image_container{
      margin-top:40px;
      background-color: #2d2d2d;
      padding:0px;
    }

    #about{
      margin-top: 15px;
      font-size: 35px;
      text-align: center;
    }

    #contest-submission{
      padding-top: 140px;
      text-align: center;
      font-size:30px;
    }

    #videos{
      margin-top:80px;
      padding-bottom:10px;
      align-content: center;
      text-align: center;
    }

/****************End Index page****************/


/**************Lyrics Page**********************/

#lyrics-container{
  text-align: center;
  margin-bottom: 20px;
/*  height:600px;*/
}

/****************End Lyrics Page****************/



/***********Submit Page**************/
/*Submit Form on Submit Your YouTube Video*/
#submit-youtube {
color:#000;
padding-top: 30px;
padding-bottom: 175px;
}

/*************Submit page End******************/


/**************Vote Page**********************/

.gallery-vid{
/*  margin: 20px auto;*/
  align-items: center;
}

.vote-btn {
  margin: 5px auto;
}

.vote-title {
  text-align: center;
  font-size: 35pt;
}

.vote-page-container {
  background-color: rgba(45, 45, 45, 0.8);
  width: 85%;
  margin: 0 auto;
  padding: 20px;
}

/****************End Vote Page****************/


/**************Prizes Page**********************/

    #first-row{
      font-size:50pt;
      text-align: center;
    }

    #img2{
      width: 323px;
      height:283px;
    }

/****************End Vote Page****************/











