#ctl-top-nav {
	background-color: #2d2d2d;
	height: 380px;
}

.body-container {
	background-image: url("../images/blue_textures_SFW.png");
}

.logo {
	width: 150px;
}

/*.header_con {
	text-align: center;
	margin: auto;
	width: 25%;
}*/

.main_header{
	font-size: 100pt;

}

.subheader {
	font-size: 50pt;	
}

.main_header, 
.subheader {
	font-family: Georgia;
	text-align: center;	
}

#navi, #navi2, #navi3, #navi4,
.main_header, 
.subheader {
color: #fff;
}